[2020-05-10 11:38] stefanstranger opened #280 "Secret type changed for Encode method"
Did the type changed from string to byte for the Secret property for the Encode method?

![image](https://user-images.githubusercontent.com/2125385/81498106-4b6e0180-92c3-11ea-91c8-2685adc03797.png)

In the previous version I was able to use a string as input for the secret property of the Encode method.

Now I need to change the string to byte before I can encode.

[code]

[2020-05-10 15:48] abatishchev commented on #280
Oh, I think I know what happened. I cleaned up the interface and move some overloads to extension methods. C# compiler picks up that transparently but in PowerShell that might not be the case, sorry.

[2020-05-10 15:49] abatishchev commented on #280
See here https://github.com/jwt-dotnet/jwt/blob/master/src/JWT/IJwtEncoder.cs#L26

[2020-05-10 16:34] abatishchev commented on #279
Hi,
Can you explain little further what's strange there? Do you mean the string after the version itself? I think it's a strong name public key. It was reintroduced recently, in 7.0.0.

[2020-05-10 16:34] abatishchev commented on #279
You can see more details here: https://github.com/jwt-dotnet/jwt/blob/master/src/JWT/JWT.csproj#L21

[2020-05-13 06:54] GerryGe opened #281 "Signature verify issue"
Hi,
Why I changed the token last letter of your demo, I still verified the token as a correct signature.
For example, I changed the  "5kM5s" to "5kM5t" of the token.

Version: 7.1.0
[code]
![image](https://user-images.githubusercontent.com/6952917/81780647-75c0f880-9529-11ea-89ca-e4ba1d0e7be5.png)

[2020-05-13 07:16] abatishchev commented on #281
Hi, please see #65. Does it answer your question?

[2020-05-13 07:26] GerryGe commented on #281
Yes, Thanks. My concern is that, the fact I have changed the token signature. Why not return invalid token. Now I don't care the outcome.

[2020-05-15 13:19] luposky commented on #218
Hi @abatishchev ... sorry, but the hack above (to use the library with System.Text.Json instead of Newtonsoft.Json) don't work anymore in version 7.x

This is due to the fact that your JwtHeader class is now decorated with a **JsonProperty** (and this attribute is specific of the Newtonsoft.Json library, the equivalent System.Text.Json is called **JsonPropertyName**).

At the moment I don't think

[2020-05-15 17:28] abatishchev commented on #280
Hi, did it you figure out how to call the extension method from PowerShell?

[2020-05-15 17:31] abatishchev commented on #218
Oh, I see. Sorry for breaking this scenario.

Do you know how to implement it differently? Let's say I remove the attributes but then `DeserializeHeader<JwtHeader>()` will stop working altogether. How to use a custom attributes or custom something else?

[2020-05-15 19:09] luposky commented on #218
I managed to modify your library in order to work both with System.Text.Json that with Newtonsoft.Json, my assumption is that we don't need to handle others serialization library :-)

Basically this code works fine:

`
        [JsonProperty("alg")]
        [JsonPropertyName("alg")]
        public string Algorithm { get; set; }
`

along with the code posted above for handling the serialization of d

[2020-05-15 19:27] abatishchev commented on #218
Please share the funding! I'm more than happy to make the necessary changes to allow using other-than-Json.Net serializer. I was thinking to switch out of it altogether but so far it was parked.

[2020-05-16 06:36] stefanstranger commented on #280
Sorry didn't have time yet to further investigate. Maybe I find some time next week.

I'll keep you posted.

Stefan

[2020-05-16 06:41] stefanstranger commented on #280
I'll have a look here https://powershell.org/forums/topic/how-do-i-use-extension-methods-in-zipfileextensionsclass/

[2020-05-20 20:01] Altafard opened #284 "Custom 'typ' header"
Will it be helpful if
[code]
will be replaced with
[code]

Are there any reasons not to do that?

[2020-05-20 20:19] abatishchev commented on #284
Do you mean in [this line](https://github.com/jwt-dotnet/jwt/blob/88cc93d81b9aa976e6cfcd6aec482039a06922e9/src/JWT/JwtEncoder.cs#L43)? I think it's a valid change. Please submit a PR! And bump the version slightly.

[2020-05-21 20:02] #284 closed

[2020-05-21 23:23] Altafard opened #286 "Expiration time is serialized as floating point number"
`ExpirationTime` extension adds a claim with value of type double. `JsonTextWriter` serialize double with floating point. So decoded string will be like `{"exp":2493061200.0}`. But unix timestamp is an integer value. Maybe `UnixUpoch.GetSecondsSince` must returns an integer?

[2020-05-21 23:29] Altafard commented on #286
The problem is in difference between encoded strings `{"exp":2493061200}` and `{"exp":2493061200.0}`. Tokens with same expiration time won't be equal

[2020-05-21 23:51] #218 closed

[2020-05-21 23:54] abatishchev commented on #286
How the floating affects what? Genuine question. Can you please explain further?

I see that `JwtValidator` [converts](https://github.com/jwt-dotnet/jwt/blob/master/src/JWT/JwtValidator.cs#L157) the claim's value to double and compares:

[code]

[2020-05-22 09:12] Altafard commented on #286
Of course it is discussable question. I can't be sure, that all parts of my system will be on .NET framework. Some microservices were written on python. So I expect that decoding of JWT-tokens happen as [this paper](https://tools.ietf.org/html/rfc7519#section-4.1.4) describes. NumericDate is an integer as I suppose.

What do you thing?

[2020-05-22 15:32] abatishchev commented on #286
You're right, even it works more or less fine, it shouldn't be that way. Let me dig further in the details.
And I remember there was already an issue opened on this matter, will try to find it.

[2020-05-22 15:35] abatishchev commented on #286
Please see the reasons the changes made in #89. But now we're getting decimal point. Maybe I can leverage custom JsonConverter or something to make that how away.

[2020-05-22 15:41] abatishchev commented on #286
In [Stack Overflow](https://stackoverflow.com/questions/21153381/json-net-serializing-float-double-with-minimal-decimal-places-i-e-no-redundant/32726630) they're saying the spec doesn't prohibit trailing zeroes.

Also see [this issue in Json.Net](https://github.com/JamesNK/Newtonsoft.Json/issues/1367).

[2020-05-22 18:37] Altafard commented on #286
Well, seems reasonable! Anyway I still can manage it by passing value of long type to method :)

Thanks for conversation!

[2020-05-22 20:00] abatishchev commented on #286
Thanks for using the library, and for bringing up the issues and questions too! Please continue doing that. I learned something new (and I'm not really an expert in crypto, or auth).

[2020-05-22 20:00] #286 closed

[2020-05-29 07:47] fmpfmp opened #287 "Exception in JwtAuthenticationHandler when I upgrade to tersion 7"
when i upgrade to version 7:

[code]
Error:

ArgumentException: The format string 'Successfully decoded JWT, returning success' does not have the expected number of named parameters. Expected 1 parameter(s) but found 0 parameter(s).
Microsoft.Extensions.Logging.LoggerMessage.CreateLogValuesFormatter(string formatString, int expectedNamedParameterCount)

when i use version 6 app is run ok.

[2020-05-29 18:45] #287 closed

[2020-05-29 18:46] abatishchev commented on #287
Fixed in 7.1.0-beta2

[2020-06-09 06:16] stefanstranger commented on #280
Hi Alexander,

I figured out how to use Extension methods in Powershell.

You can close this issue.

Regards,
Stefan

[2020-06-09 06:16] #280 closed

[2020-06-09 21:46] rcastoro opened #289 "JWT .net core - Could not load file or assembly, specified file not found"
Our application is running .net core 2.2, I installed the following package from the nuget PM console, as instructed on your nuget page for .net core programs: Install-Package JWT.Extensions.AspNetCore -Version 7.1.0-beta2

At runtime, I attempt to do the following to generate a JWT:

[code]
**However, when it gets to this method the following error is thrown:**
![image](https://user-images.github

[2020-06-09 21:52] abatishchev commented on #289
Hi!
How is your CSPROJ looks like? Is it old or SDK-based?
What version (if any) of Json.Net you have installed?

[2020-06-09 22:06] rcastoro commented on #289
I do not have json.net installed. CSPROJ file looks like this:
![image](https://user-images.githubusercontent.com/8540618/84205802-e3eed180-aa7b-11ea-8422-9c18d78bc093.png)

[2020-06-09 22:27] abatishchev commented on #289
It's odd that it wasn't automatically, as s transient dependency. Try to add it explicitly.

[2020-06-09 22:35] rcastoro commented on #289
What do you mean?
________________________________
From: Alexander Batishchev <notifications@github.com>
Sent: Tuesday, June 9, 2020 6:27:32 PM
To: jwt-dotnet/jwt <jwt@noreply.github.com>
Cc: rcastoro <roccocastoro@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [jwt-dotnet/jwt] JWT .net core - Could not load file or assembly, specified file not found (#289)

It's odd that it wasn't

[2020-06-09 22:37] abatishchev commented on #289
[code]

[2020-06-20 08:33] ashraful1980 opened #290 "Json Web Token from Zip password protected file"
How to generate json web token from Zip password protected file; please help me.

[2020-06-20 16:18] abatishchev commented on #290
Hi, please ask on [Stack Overflow](https://stackoverflow.com/). I don't know, never encountered suchvp problem.

[2020-06-20 16:18] #290 closed

[2020-06-28 15:39] fabriziodb opened #291 "InvalidSignature validating a token from IS4"
Hi, i get JWT.Exceptions.SignatureVerificationException: 'Invalid signature' trying to validate access-token coming from Microsoft IdentityServer 4. this the code, can u help me?

            string token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbGFpbTEiOjAsImNsYWltMiI6ImNsYWltMi12YWx1ZSJ9.8pwBI_HtXqI3UgQHQ_rDRnSQRxFL1SR8fbQoS-5kM5s";
            string secret = "GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uF

[2020-06-28 17:04] abatishchev commented on #291
Hi,
What's the JWT algorithm at the server? Is it asymmetric, i.e. uses a certificate? Do you have at least the public key from the said certificate?

[2020-06-29 08:44] fabriziodb commented on #291
Hi, is this what u need?

{
"keys": [
{
"kty": "RSA",
"use": "sig",
"kid": "uUhCD1fm-Jx8gHx4Y_gc3Q",
"e": "AQAB",
"n": "pna1wFjy5UBQyTwWMZLOv8ydDRT4BS9QA2g_w0QEWtJiWXzU5l5O2Xwqnh9f5gdnxgskIly0BGicit-mT7UNV4xVYIsJb1i36j4VwwmYRHnneDR5Yq0aiGEmp2uL013_wM3OZwediBaz1S8NFrAkls4AuhFQh6OnwBeD8-RK2DbrTxANTxJXt4MBxQ5RTQon5yRO9A3FLRo49sIMJZaDEZ9Xqjcphh_nP9TD9fhcvlsx8ealEbMZ9GbkAcWQb-4Ec5EVdBB5bpl2euKl7lerM_QE

[2020-06-29 18:40] abatishchev commented on #291
Sorry, I don't know what to do with what you posted. But it seems it uses RS256, an asymmetric algorithm. The library does support it, see the doc where there comment says `// asymmetric`.

[2020-06-30 13:01] fabriziodb commented on #291
i found this code, but don't know hot to create certificate object:

var json = new JwtBuilder()
        .WithAlgorithm(new RS256Algorithm(certificate)) // asymmetric
        .MustVerifySignature()
        .Decode(token);
Console.WriteLine(json);

[2020-06-30 16:22] abatishchev commented on #291
You need to deploy at least public key with your application. You don't provide enough context. I would suggest to ask on Stack Overflow, but don't forget to provide enough details: what's your hosting model (cloud, dedicated server), kind of application (web app, desktop app), etc.

[2020-06-30 16:22] #291 closed

[2020-07-15 14:52] ashraful1980 commented on #290
Dear Sir,
I would like to draw your kind attention i have questions that it is possible to generate JSON Web Token from SHA384 Hash. If it is possible please advice how it is possible.
Also please generate JSON Web Token from my SHA384 hash: e648d207eb6a457cc3b415e5e6db38759de529051d808b5d34c679c43020a233e6b5161de2e85070127009d61e4c24c8

Thanks & Regards,
Md. Ashraful Alam

[2020-07-15 17:25] abatishchev commented on #290
Hello! Please ask on Stack Overflow (link above), it would be more appropriate place to ask such questions. Because I personally don't know.

[2020-07-23 11:13] Sebosek opened #292 "Decoding using fluent API throws Signature verification exception, composition API style doesn't"
Hi,

in version 7.2.1, the following code throws the Signature verification exception.

[code]

however, the composition API style counterpart doesn't.

[code]

From my understanding, both styles should be equal. Did I miss something?

[2020-07-23 15:28] abatishchev commented on #289
Hi, did you figure it out?

[2020-07-23 15:28] #281 closed

[2020-07-23 15:28] #279 closed

[2020-07-23 15:30] abatishchev commented on #292
Hi,
I think this is caused by the fact that in the former you specify to verify the signature and in the latter you call the overload which eventually passes false:
https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/IJwtDecoder.cs#L118
What's probably not right and is the legacy/backward compatible behavior worth changing.

[2020-07-23 21:32] rcastoro commented on #289
I accomplished this with the microsoft token utilities

[2020-07-23 21:33] #289 closed

[2020-09-11 12:44] githubcatw opened #293 "Secret seemingly does nothing"
Hello. I'm using this library in Unity to authenticate requests to a web service, and I kept getting an "access denied" error. I talked to the web service's support team and they said that error occurs due to me using an incorrectly generated token. Sure enough, when I tried it in a JWT debugger it seems to not require a secret to decode the token. Is there a way to make the secret actually encryp

[2020-09-11 15:12] abatishchev commented on #293
Hi!
It's not tricky, as it depends on whether you encrypt or decrypt and what kind of algorithm you're using - symmetric or asymmetric. Certificate means asymmetric.
Please provide more details.

[2020-09-11 16:51] githubcatw commented on #293
I'm using HS256, and encrypting.
Here is my code:
[code]

[2020-09-11 17:25] abatishchev commented on #293
HMAC is symmetric so secret is used.  It (as string converted to byte array) is passed here: https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/Algorithms/HMACSHA256Algorithm.cs#L11

[2020-09-12 09:53] githubcatw commented on #293
Then why does decrypting with the debugger not require me to enter a secret? And, when I enter the secret there, it gives me an entirely new token that does require the secret to decrypt.

[2020-09-12 18:57] abatishchev commented on #293
`Decrypt()` does require a secret, see https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/IJwtDecoder.cs#L45

But it's used only to re-calculate and then validate the signature, see https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/JwtDecoder.cs#L147

JWT by itself is just a base64-encoded string, basically. It's not encoded so doesn't require a secret to decode, see https://github.com/jwt-dotn

[2020-09-18 23:07] randy-armstrong opened #294 "Signature is Calculated on UTF8 text with a BOM. This is does not comply with RFC 7519"
EncodingHelper uses

`Encoding.UTF8.GetBytes()
`

This includes a BOM:
https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.utf8?view=netcore-3.1

For multiplatform IOP you should use:

`new UTF8Encoding(false).GetBytes()`

[2020-09-18 23:08] abatishchev commented on #293
Did you figure this out?

[2020-09-18 23:09] abatishchev commented on #294
Would you please submit a PR and I'll be happy to review and push the change asap?

[2020-09-19 00:54] randy-armstrong commented on #294
Submitted pull request.
This is technically a bug - not an enhancement.

[2020-09-19 02:44] #294 closed

[2020-09-21 05:52] #293 closed

[2020-09-21 05:52] #292 closed

[2020-10-30 19:43] IvanILanekassen opened #297 "JwtHeader field X5c is defined wrong."
Hi,

We are using code from another package (https://github.com/ks-no/fiks-maskinporten-client-dotnet) that is using the JWT package. We needed to do a hard fork of the code, since we are on .NET Framework and that is not supported by the package produced by that repository. We also needed strongly named assemblies, so therefore we upgraded the JWT package to the latest version (from version 5.0.1

[2020-10-30 19:55] abatishchev commented on #297
Would you please submit a PR to fix this and I'll release update NuGet package asap?

[2020-10-30 20:52] IvanILanekassen commented on #297
OK, please see https://github.com/jwt-dotnet/jwt/pull/298.

[2020-10-30 22:55] #297 closed

[2020-10-31 03:37] abatishchev commented on #297
Released as 7.3.0, please update and let me know how it goes. Thanks for the contribution, appreciate it!

[2020-10-31 17:57] IvanILanekassen commented on #297
You are welcome, and thanks for prompt response and action. The tests are now green with v7.3.0 of the package so it seems the bug is fixed.

[2020-10-31 17:58] abatishchev commented on #297
May I ask to see if you can generalize your tests and contribute to the project? More tests is always better.

[2020-10-31 18:05] IvanILanekassen commented on #297
The tests in question are in this file: https://github.com/ks-no/fiks-maskinporten-client-dotnet/blob/master/KS.Fiks.Maskinporten.Client.Tests/MaskinportenClientTests.cs. It is testing a client for the "Maskinporten" identity service used in Norway. The Maskinporten service demands the use of the x5c header, and this is what trigged the bug. But I do not think it is possible to generalize the test

[2020-11-19 21:40] Furgas opened #299 "Time margin for exp and nbf validation"
Please consider adding time margin to JwtValidator (and maybe JwtBuilder), so it would be possible to compensate for slight time differences between servers when validation `exp` and `nbf` claims.

[2020-11-19 22:50] abatishchev commented on #299
hi @Furgas, I'd happy to add this functionality if you could start a pull request, I'd get it going.

[2020-11-20 18:54] #299 closed

[2020-11-26 02:20] godefroi opened #301 "How do I turn a JWK document into an instance of IJwtAlgorithm?"
I am trying to validate a JWT, and I need to retrieve the key info document from the issuing authority (AD B2C in this case). That document is a JSON document containing what I believe is a JWK. How do I turn this into an instance of `IJwtAlgorithm` (RS256) to use to validate the signature on the JWT?

[2020-11-26 07:40] abatishchev commented on #301
Hi,

To see if a string is indeed a JWT you can try to decide it using https://jwt.ms or https://jwt.io. Or using this library and pass `verify: false`.

The purpose of interface `IJwtAlgorithm` and its implementation [RS256Algorithm](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/Algorithms/RS256Algorithm.cs) that would work with AAD is to calculate and/or verify the signature of a JWT.

JWT

[2020-12-07 23:43] duhowise opened #302 "Decoding Token returns json instead of claims principal"
[code]

[2020-12-07 23:47] duhowise opened #303 ".AddClaim/ .AddClaims throws an error when multiple claims of the same type are Added"
A user can have multiple of certain claim types eg: Roles
This is currently not possible as the library requires that claims added are unique.
Is there a way to turn this off?

[2020-12-08 00:11] abatishchev commented on #302
Use `DecodeToObject<Dictionary<string,string>>(token)` to decode the payload into a dictionary.

See also [JwtAuthenticationHandler](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.AspNetCore/JwtAuthenticationHandler.cs#L110) and [DefaultIdentityFactory](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.AspNetCore/Internal/DefaultIdentityFactory.cs#L18) for creating cla

[2020-12-08 00:12] abatishchev commented on #303
What are you trying to achieve? To add an array as the value of a claim?

[2020-12-08 00:13] #301 closed

[2020-12-08 00:15] abatishchev commented on #303
You can try using `AddClaim(name, arr)` for that purpose. Underneath this method is `Dictionary<string, object>` so the key must be unique.

[2020-12-21 17:41] mandrachek opened #304 "Add support for ECDSA signing algorithms"
java-jwt has out of the box support for RSA384, RSA512, and ECDSA256, ECDSA384, and ECDA512.

[2020-12-21 19:34] abatishchev commented on #304
Hi,
For RSAxyz please see my response at https://github.com/jwt-dotnet/jwt/issues/238, correct me if I'm wrong.

For ECDSAxyz some simple code would be needed, from what I can see at

[2020-12-21 19:36] abatishchev commented on #304
Sorry, pressed wrong button, on mobile they're so close to each other.

If you'd like to see this new functionality then please start a PR and I'll be more than happy to get it reviewed, polished if necessary, and released asap.

[2020-12-23 22:44] mandrachek commented on #304
Sorry, I'm not a .net developer - I'm a primarily a java dev, who happens to be working with some folks that will need to implement JWT as well, and was hoping I could refer them to this library. I found this to be a shortcoming when comparing the implementations.  Last C# code I wrote was about 10 years go. :/

#238 is actually incorrect. RSA256 uses a SHA-256 _hash_.  While it allows for any siz

[2021-01-27 19:16] simon-pearson commented on #304
@abatishchev I'd like to take a look at this.

Would you object to me introducing a `RSASSAAlgorithm` abstract base class and inheriting from this in `RS256Algorithm`/`RS384Algorithm`/RS512Algorithm`?  Most of the code currently in `RS256Algorithm` would be moved into this class, and we'd add an abstract property for the hashing algorithm which each subclass could implement.

[2021-01-27 19:48] abatishchev commented on #304
@simon-pearson, sure. please! sounds like the way to go. i'd happy to participate, review the code, get it rolling.

[2021-01-31 14:06] simon-pearson commented on #304
@abatishchev unfortunately I think implementing the ECDSA algorithms will be much harder.  The `ECDsaCertificateExtensions.GetECDsaPrivateKey(X509Certificate2)` method used in https://stackoverflow.com/a/38135590/41956 will do the trick, but it was only added in .NET Framework 4.6.1/.NET Standard 1.4.

It seems from a cursory Googling ([link](https://vcsjones.dev/ecdsa-certificates-and-keys-in-net

[2021-01-31 19:18] abatishchev commented on #304
@simon-pearson I think it'd be fine to split the work into two parts: where it's easy to implement using the built-in API and where P/Invoke is required.
I'd implement the former and throw NotImplementedException from the latter and let that be for a while. Then based on the popular demand see whether we should fill the gap or not.

[2021-01-31 19:32] abatishchev opened #308 "Build & test pipeline needs to support .NET 5"
Right now it tests only 2.2 and 3.1.

[2021-01-31 19:32] abatishchev commented on #303
@duhowise, have you figured this out? Do you need any more help or any changes made to the lon? I'm happy to discuss.

[2021-01-31 19:33] #302 closed

[2021-01-31 19:33] abatishchev commented on #257
@gfoidl ping on this great idea ;)

[2021-01-31 19:35] duhowise commented on #303
Oh yes I tried your suggested approach and it worked

[2021-01-31 19:43] abatishchev commented on #303
Cool! Hope you'll continue using this library. Please feel free to post more questions or suggestions.

[2021-01-31 19:43] #303 closed

[2021-01-31 19:43] gfoidl commented on #257
Does this still hold? It's the most straight forwarded solution, as the current implementation just needs to forward to the simd-based implementation.

If you'd like to go this route, please outline this a bit more as I don't understand how this may look.

PS: sorry that I didn't make any progress here...

[2021-01-31 20:24] duhowise commented on #303
I can close the issue now?

[2021-01-31 20:28] abatishchev commented on #303
No worries, I've closed it.

[2021-02-01 07:14] abatishchev commented on #257
So there are two options:

1. Add a reference, hence a dependency on, to the main package Her
2. Create what I called a satellite package (not sure what's the right terminology), les say Jwt.Base64.gfoidl or gfoidl.Base64.Jwt, and advertise it on the main page.

I'd propose this: do no. 2 first, then if the resulting package will get traction (popularity and downloads) then to do no. 1.

What you

[2021-02-01 20:47] gfoidl commented on #257
From a community point of view option 2 has the drawback that there are two packages doing the same, that will eventually get merged. So which one to pick?
This option will / can cause confusion for potential users. We should make it as simple as possible for them, to be attractive with one superior package that can be used.

Implementation-wise for option 2 I see a layering problem. What to put w

[2021-02-02 12:38] simon-pearson-lmk commented on #304
I really like your suggestion of splitting up the work on the ECDSA algorithms.  I'll start work on implementing them for .NET Framework 4.6.1/.NET Standard 2.0 targets using the `ECDsaCertificateExtensions.GetECDsaPrivateKey(X509Certificate2)`/`ECDsaCertificateExtensions.GetECDsaPublicKey(X509Certificate2)` extension methods, and for now I'll throw a `NotImplementedException` in earlier targets.

[2021-02-03 18:08] simon-pearson commented on #304
I really like your suggestion of splitting the work on the ECDSA algorithms; I'll start work on implementing them using the `GetECDsaPrivateKey`/`GetECDsaPublicKey` extension methods for .NET Framework 4.6.1/.NET Standard 2.0 targets, and as you say throwing a `NotImplementedException` in earlier targets.

[2021-02-06 21:11] abatishchev commented on #304
Addressed by #309

[2021-02-06 21:11] #304 closed

[2021-02-22 17:54] joshtate opened #311 "RS256Algorithm error with .NET 4.0"
Using version 7.3.0 and .NET 4.0.

The `RS256Algorithm` does not work with .NET 4.0.  We have a working example using .NET 4.7.2 like this:

[code]

But since .NET 4.0 doesn't have the extension methods `GetRSAPublicKey()` and `GetRSAPrivateKey()`, we have tried this:

[code]

And also this:

[code]

But both of those give the following error:

[code]

For the record, trying those other two ways o

[2021-02-22 18:23] abatishchev commented on #311
Hi, thanks for reporting the issue!
Can you please try versions 8.0.0 and 8.1.0 to confirm whether it still doesn't work or not?

So you got it working? Sorry, not super clear from your message. If yes then how's the code that works looks like?

[2021-02-22 18:37] abatishchev commented on #311
Here's the build run: https://abatishchev.visualstudio.com/OpenSource/_build/results?buildId=589&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=006e6f7c-8314-5e02-a3df-483f3a1f4cfa&l=1055
And tests runs: https://abatishchev.visualstudio.com/OpenSource/_build/results?buildId=589&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=6278c56e-b9dd-5471-9c3c-f3062039459c&l=27
that supposedly target .

[2021-02-22 18:40] joshtate commented on #311
I just tried with 8.0.0 and 8.1.0 and they don't work either.

Sorry, when I say "_the only way to get it to work_" I mean that it only works when you can use those extension methods, which aren't available in .NET 4.0.  So basically what that boils down to is, I can get it to work in .NET 4.7.2 but not with .NET 4.0.

[2021-02-22 18:41] abatishchev commented on #311
The test project says this:
[code]
But then this
[code]
I'm on vacation for a week so have only my phone.
Can you please download the build drop and check what framework it targets actually?

I mean if it's correct then the tests should be a good and working example how to construct the corresponding algorithm.

[2021-02-22 18:59] joshtate commented on #311
The test project is definitely referencing the incorrect framework (see image):

![image](https://user-images.githubusercontent.com/10261795/108755913-d8620e80-7515-11eb-9a55-09f43f3b0eae.png)

If I change that to ".NET Framework 4" then the test project doesn't even build because there are many incorrect references:

![image](https://user-images.githubusercontent.com/10261795/108756158-26771200-7

[2021-02-22 19:01] abatishchev commented on #311
Yes, but `SetTargetFramework` should (supposedly) do the trick. Can you please download the resulting DLL and open it with DotPeek or ILSpy or a similar tool, it should tell the actual target framework.

[2021-02-22 19:08] joshtate commented on #311
It's targeting 4.6:

![image](https://user-images.githubusercontent.com/10261795/108757024-51159a80-7517-11eb-9424-57d7adacded6.png)

[2021-02-23 06:25] abatishchev commented on #311
Oh, I see. Seems like a bug, indeed. I'll work on a fix upon return from the vacation, in a ~week. Sorry about this!

Maybe that's something @simon-pearson could take a look, please?

[2021-02-23 06:39] abatishchev commented on #311
It seems that lthe issue in tests was introduced in [this commit](https://github.com/jwt-dotnet/jwt/commit/d2b02bdf1cfdf4a20478ac581b5a58a751920ff1) by @ggeurts.

Gerke, can you please help to figure out why this doesn't actually work as expected:

[code]

[2021-02-23 06:46] abatishchev commented on #311
@simon-pearson, here's the initial line of code by @ggeurts:

[code]

which you moved around in [your commit](https://github.com/jwt-dotnet/jwt/commit/263d6d1e52901a1f53ff72f5c1845bf7ed55fd1f#diff-cd603f22a3ebad5e75bce61e222a723613fae0ab4dd978933ea713206a10fb7e) and if became this:

[code]

Which is the only related change I managed to locate. I believe it worked fine and then it stopped. Seem lik

[2021-02-23 06:58] abatishchev commented on #311
It used to pass `HashAlgorithmName` and now it passes `string` on .NET 3.5/4.0 what seems to be the reason for the exception in question:

[2021-02-24 18:17] simon-pearson commented on #311
@abatishchev, @joshtate hi - yeah this certainly looks like a regression introduced by my PR, apologies.  I'm looking into it now and will try to get a PR up as a priority.

[2021-02-24 20:49] ggeurts commented on #311
The Test project is building a .NET 4.6 Framework assembly but referencing the .NET 4.0 dependency. In effect the .NET 4.6 tests are testing the .NET 4.0 code.

[2021-02-24 20:51] simon-pearson commented on #311
Hi all, the good news is I've been able to replicate this bug.  This isn't a regression caused by PR #305 - I checked out the code from December of last year and could still replicate with that code.

@joshtate what is the [cryptographic service provider](https://docs.microsoft.com/en-gb/windows/win32/seccertenroll/cryptoapi-cryptographic-service-providers) (CSP) of your cert?  You can find this o

[2021-02-24 20:58] ggeurts commented on #311
When the RSACryptoServiceProvider does not meet the preconditions for the sign algorithm, an exception is what should be thrown. The client code possibly could use the solution above to generate a correct RSACryptoServiceProvider.

[2021-02-24 20:58] simon-pearson commented on #311
It was passed a string before @abatishchev.  The `HashAlgorithmName` class was introduced in .NET 4.6.  When targeting .NET 3.5/4.0 another file is included, `src\JWT\Compatibility\System.Security.Cryptography\HashAlgorithName.cs`, to 'polyfill' the missing functionality:

[code]

[2021-02-24 20:59] abatishchev commented on #311
@ggeurts thanks for coming back and weighting on the issue!

I'm not very familiar with this technique but your explanation sounds good to me, means there is no issue with properly targeting the lower frameworks in the tests.

[2021-02-24 21:28] ggeurts commented on #311
See https://github.com/dotnet/sdk/issues/2280 for a bit more `<SetTargetFramework>` background. Though this metadata element on project reference is not often used, it saved me having to write different test code for the .NET 4.0 and 3.5 versions of the JWT.NET library.

[2021-02-24 22:38] abatishchev commented on #311
Does the library really need to do this (optionally or always):
[code]
While it can be kept up to the consumer to "cook" the RSA object and pass whatever it deems appropriate?

[2021-02-25 16:49] simon-pearson commented on #311
Is there any outstanding action on this issue then?  It looks like @joshtate's certificate had a CSP not supporting SHA256 and if he re-generates his certificate with a CSP supporting SHA256/384/512, e.g. "Microsoft Enhanced RSA and AES Cryptographic Provider" then it should work?  Alternatively, he could implement the above workaround in his calling code?

[2021-02-26 13:42] joshtate commented on #311
I'll have to check this later on, but back to my original issue: if there's something about my cert that needs to change then why does this work with .NET 4.7.2:

[code]

But this doesn't?

[code]

If my cert didn't support SHA256 wouldn't it fail in both scenarios?

[2021-02-26 23:47] ggeurts commented on #311
@joshtate It looks like GrtRSAPrivateKey() does perform a similar operation to the manual code posted above. See [Cryptography/X509Certificates/RSACertificateExtensions.cs](https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.Core/System/Security/Cryptography/X509Certificates/RSACertificateExtensions.cs#L82) for example. So the answer to your question i

[2021-03-19 10:05] koroce opened #321 "Expire time verify question"
Hello,
I am trying to verify a token from Internet, and I find it seems never expired. How could I achieve checking it, I would like to catch the expired token via TokenExpiredException.

Thank you very much

Here's my method:
[code]

[2021-03-19 19:27] #311 closed

[2021-03-19 19:30] abatishchev commented on #321
hi! can you please post your token (without the signature)? to better understand what we're dealing with.

In general, when you enable validation (pass `true` to `Decode()`) here's the code that does it: https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/JwtValidator.cs#L126

It does validate both `nbf` and `exp` by default. Does it happen to you?

[2021-03-24 08:34] #321 closed

[2021-03-24 08:44] koroce opened #322 "Safe Handle has been closed problem"
I have received this problem when the second and subsequent time calling Encode() or Decode() in my MVC programme. I guess I need to close a SerialPort before calling. Will it work? Or how I should deal with it.

Thank you very much

Here's the code throws Exception, the save Exception is also thrown in Decode()

[code]

Here's the stacktrace:

[code]

[2021-03-24 16:18] abatishchev commented on #322
hi! in this case it doesn't matter how you construct the jwt builder. please post the code form here:

[code]

[2021-03-26 01:46] koroce commented on #322
Here:

`
string token = JwtBuilder.Create()   //Line 147
                                                    .WithAlgorithm(new RS256Algorithm(pub, pri))    //Line 148
                                                    .WithSecret(System.Web.Configuration.WebConfigurationManager.AppSettings["secret"])
                                                    .AddClaim("exp", (new UtcDateTimeProvider())

[2021-03-26 02:17] abatishchev commented on #322
Where the `pub` and `pri` come from? The problem is in them, the server cannot use either of them to sign the binary data or validate it.

[2021-03-26 02:47] koroce commented on #322
`pub` and `pri`  are a RSA key pair, they are instantiated from RSACryptoServiceProvider and loaded from a .xml file like this:
`
StreamReader priReader = null;

            priKeys = new Dictionary<string, RSA>();

            foreach(XmlNode node in priNodes)
            {
                priReader = new StreamReader(node.FirstChild.InnerText);      //a node includes a key path
                R

[2021-03-26 03:02] abatishchev commented on #322
The issue in general is that the cryptographic object is disposed before the token is attempted to be signed/verified.

Are you reading the certificate on the hot path (means same time when you handle the request) or separately (during startup)?

Try to have the while code end-to-end in the same method first: you load the certificate, you construct the builder, you handle the token.

Another optio

[2021-03-26 03:03] abatishchev commented on #322
For the code, see here: https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/Algorithms/RSAlgorithm.cs#L69

[2021-04-07 17:16] markkinkade opened #323 "The HMACSHA384Algorithm incorrectly uses the HMACSHA512 class instead of the HMACSHA384 class"

[2021-04-07 17:22] abatishchev commented on #323
@markkinkade hi, thanks for reporting! sorry about this. will release a fix within 30 minutes.

[2021-04-07 17:25] #323 closed

[2021-04-07 17:43] abatishchev commented on #323
Will be available on NuGet.org shortly: https://www.nuget.org/packages/JWT/8.1.4

[2021-04-12 22:08] #308 closed

[2021-04-12 22:39] abatishchev commented on #308
Published to nuget.org as [8.2.0](https://www.nuget.org/packages/JWT/8.2.0).

[2021-04-14 11:53] #322 closed

[2021-04-26 10:32] mansoor-omrani opened #327 "JwtData.Payload does not support multiple items with the same keys"
I ran into the issue when generating a token for a user who had multiple roles.

Here is part of my code:
[code]
This results in "An item with the same key already exists" exception, since jwt.Payload is a Dictionary.

In essence, jwt.Payload must be an ```IList<KeyValuePair<string, object>>``` instead of ```IDictionary<string, object>>```.

[2021-04-26 18:53] abatishchev commented on #327
Hi,
Please try using this:

[code]

See also #303.

[2021-04-27 05:11] mansoor-omrani commented on #327
Yes. It works. I personally used this trick to pass the issue. But, you need to split the roles and assign them individually yourself too when deserializing the token.

In essence, I humbly believe, its not a correct solution, since ```AddClaim()``` and ```ClaimTypes.Role``` denotes a single Claim and a single Role, not a comma-separated list of roles .

.NET itself uses a ```List<Claim>``` when y

[2021-04-27 05:31] mansoor-omrani commented on #327
In .NET, current user is an implementation of IPrincipal interface:

[code]
One of the implementations of this interface is ```ClaimsPrincipal```.
[code]
As you see, ClaimsPrincipal uses a ```List<Claim>``` to store user's claims.

IsInRole() method iterates through users claims to see if current user is in a given role.

[code]

[https://referencesource.microsoft.com/#mscorlib/system/security/cla

[2021-04-27 05:44] mansoor-omrani commented on #327
There's a difference though, when I reviewed the case more closely.

.NET's has used a ```string``` type for the value of a claim.

This can be seen in ```Claim``` class's constructor:
[code]
Or in ```HasClaim()``` method:
[code]

In jwt-dotnet, you have used ```object``` for a claim value. This is the reason for taking a ```IDictionary<string, object>```.

In essence, an ```object``` seems to be

[2021-04-27 05:44] mansoor-omrani commented on #327
Sorry, for the long discussion! :D

[2021-04-28 07:37] abatishchev commented on #327
@mansoor-omrani hey, I'm sorry for not replying, I'm in vacation and have no computer with me. I'll come back to this issue once back home!

Meanwhile please feel free to pike on your ideas this the code can be improved.

Another thing to check if the JWT spec allows to have multiple (duplicate) keys. It might not.

[2021-05-08 17:14] safesparrow opened #328 "`RSAlgorithm.GetPrivateKey` and `RSAlgorithm.GetPublicKey` should use `X509Certificate2.GetRSA...Key` on .NET Framework 4.6 and higher"
The problem I was facing was an "Invalid algorithm exception" when signing the token, as described here:
https://stackoverflow.com/questions/7433074/why-am-i-getting-invalid-algorithm-specified-exception

This StackOverflow comment showed me the solution:
https://stackoverflow.com/questions/7433074/why-am-i-getting-invalid-algorithm-specified-exception#comment111629660_7433074

The problem is that

[2021-05-08 17:37] abatishchev commented on #328
Hi @safesparrow, thanks for reporting this issue!

May I ask to submit a PR? I'll get it reviewed and will publish an updated version to NuGet shortly thereafter.

[2021-05-11 07:17] angusmillar opened #329 "Incorrectly targeting NET50 where it should be NET5_0"
I was trying to use JwtAlgorithmName.ES256 in a .net core 5.0 project and JWT (8.2.0) when I received this exception text "_ECDSA algorithms are only supported when targeting .NET Standard 2.0"_ which is found in the class JWT.Algorithms.ECDSAAlgorithmFactory.
Yet in that class on line 48, you have the following if statement :

`#if NETSTANDARD2_0 || NET50`

Whereas it should be this:

`#if NETSTA

[2021-05-11 16:16] abatishchev commented on #329
@angusmillar thanks for the reporting the issue! I fixed it in #330. Can you please take a look and confirm it looks good to you?

[2021-05-12 01:12] abatishchev commented on #328
Ping @safesparrow, please take a look of you can contribute this change. Thanks much!

[2021-05-12 08:55] safesparrow commented on #328
Hi @abatishchev ,

I'm happy to have a go later this week. Thanks

[2021-05-13 07:56] nathanpovo opened #331 "Option to turn off or ignore certain token parameters during token validation"
I wish to parse and validate some JWTs that have expired (to generate new tokens with a refresh token). However, when parsing a token using the following code:

[code]

an exception is thrown if the token has expired.

To workaround the issue, I have to change the code to this:

[code]

which is quite uglier than the original fluent style code. The other option was to create a new validation class

[2021-05-13 12:45] abatishchev commented on #331
Hi! Thanks for proposing a change and the willingness to make it. Appreciate that!

Let me understand the intend better. So you want to validate the signature but want to turn off the other aspects of the validation?

Right now you can only turn it on or off completely:

[code]

[2021-05-13 13:13] nathanpovo commented on #331
Yes, I would like to turn off certain parts of the validation. In my case, I only need to turn off the expiration validation but, to make it as accessible as possible for any other users of the library, I think it would be ideal to be able to turn off each aspect of the validation.

[2021-05-13 13:42] abatishchev commented on #331
Btw you don't necessarily need to switch from fluent to "classic" syntax to achieve the same:

[code]

Just saying :)

If you'd like to submit a PR to enhance the library - it will be very much appreciated! I'll get it reviewed and published asap.
Please just don't forget to update the readme and bump the package version inside JWT.csproj. Thanks!

[2021-05-13 23:39] angusmillar commented on #329
Hi Alex,
I think you have missed the following extra references
JWT.Algorithms.ECDSAAlgorithmFactory on lines 48 & 72
JWT.Algorithms.ES256Algorithm on line 1
JWT.Algorithms.ES384Algorithm on line 1
JWT.Algorithms.ES512Algorithm on line 1
And I think you also need to update JWT.Tests.Net50.csproj line 4 from this <TargetFramework>net50</TargetFramework> to this <TargetFramework>net5.0</TargetFramew

[2021-05-13 23:50] abatishchev commented on #329
@angusmillar thanks for double checking! by looking at the latest changes at https://github.com/jwt-dotnet/jwt/pull/330/files I think it's all now.

[2021-05-14 00:17] angusmillar commented on #329
Hey, Alex could I communicate with you via email, skype something not public. I work for a large global Pathology provider and Health informatics groups are working on the problem of getting the world flying again post the COVID pandemic. Standards are emerging to facilitate sharing of verifiable credentials as JWS tokens that consumers would present at passport controls to validate that they have

[2021-05-14 00:28] #329 closed

[2021-05-15 16:36] abatishchev commented on #328
Fixed by #332

[2021-05-15 16:36] #328 closed

[2021-05-17 14:24] nathanpovo commented on #331
I have gone over the code a bit and, with the way the library is structured, I can see three ways to implement this feature:

1. Modify the `JwtValidator` class and the `IJwtValidator` interface to something like:
[code]

This would require changes in the `IJwtValidator`, and `IJwtDecoder` interfaces.

2. Modify the `Validate` method in the `JwtValidator` class to call the method `_jwtValidator.Tr

[2021-05-19 02:50] abatishchev commented on #331
Hey @nathanpovo, thanks for flushing out the options and sorry for a delayed response!
In general, it's not a good practice to adjust the interface in order to adjust its implementation. Agree?
In this particular case instead of passing the parameters to the method, we can pass them to the ctor. The call to which is controlled by library itself so won't be a breaking change. The existing ctor will

[2021-05-19 12:57] nathanpovo commented on #331
I agree that the interfaces should not be modified, that's why I wanted to see what you thought before working on it.

Modifying the constructor of the `JwtValidator` class was enough to add the requested behavior (and required much less work than implementing a bunch of interface methods).

I have opened a pull request to close this issue, let me know what you think.

[2021-05-21 14:40] thesecuritycompany opened #334 "JwtAuthenticationDefaults does not exist when trying to implement in Startup.cs in .NET 5.0"

[2021-05-21 15:04] abatishchev commented on #334
Hi, can you provide more details?

[2021-05-25 14:12] thesecuritycompany commented on #334
I managed to get the JWT working in the end. I ended up using the tutorial code for auth0.com backend API - 'ASP.NET Core Web API v2.1' (https://auth0.com/docs/quickstart/backend/aspnet-core-webapi-2) instead of 'ASP.NET Core Web API' (https://auth0.com/docs/quickstart/backend/aspnet-core-webapi) which I was using when make my original post.

[2021-05-25 15:58] #334 closed

[2021-06-06 03:57] Ronnapon opened #335 "JWT Concept"

[2021-06-06 05:12] abatishchev commented on #335
?

[2021-06-06 15:21] #335 closed

[2021-06-09 04:24] abatishchev opened #336 "Add NuGet package for integration with Microsoft.Extensions.DependencyInjection"
It would be useful and convenient to offer a set of extension methods that would register in the DI container all necessary classes, e.g.:

- `AddJwtEncoder()`
- `AddJwtDecoder()`

[2021-07-22 19:13] iPilot opened #337 "ES256Algorithm absent for 8.2.2 version of nuget package."
Update from 8.1.6 lead to compilation error due to class ES256Algorithm not found and no information about deprecation.

Platform NET5.0

[2021-07-22 20:10] abatishchev commented on #337
hi! does it work properly in a prior version?

The class is guarded by a directive:

[code]

What might not work properly.

[2021-07-23 05:42] iPilot commented on #337
8.1.6 the last that works correctly.

[2021-07-23 20:34] #337 closed

[2021-08-05 14:41] leftiness opened #339 "dotnet publish error NU1605 (version 8.2.3, framework netstandard2.0, runtime linux-x64)"
what am I doing

[code]

what happens

* `dotnet publish` fails with NU1605

what do I expect

* `dotnet publish` succeeds

csproj

[code]

workaround

[code]

logs

[code]

[2021-08-06 01:24] abatishchev commented on #339
hey @leftiness, I frankly not sure why I never updated Json.Net to the latest. I updated it to 10.0.3 and published 8.4.0-beta1 to NuGet.
Let's if other customers will complain or report any issues. If not - I'll promote to stable version after a while.

[2021-08-06 01:24] #339 closed

[2021-09-09 15:26] frankely opened #341 "JwtAuthenticationMiddleware.Invoke throwing a NotImplementedException"
JwtAuthenticationMiddleware.Invoke throwing a NotImplementedException

[2021-09-09 16:53] abatishchev commented on #341
hi @frankely, thanks for giving it a try! I've made a small change at #342, please take a look. Namely:

- [JwtAuthenticationMiddleware](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.AspNetCore/JwtAuthenticationMiddleware.cs) is indeed doesn't do anything other than throwing an exception
- [JwtAuthenticationHandler](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.As

[2021-09-09 17:23] frankely commented on #341
Thank you for the clarification! Well from a DevEx perspective I was expecting that the middleware registered the handler for me. Maybe it's misleading to just have without doing anything since I didn't even know there was a handler available.

[2021-09-09 20:55] frankely commented on #341
@abatishchev I tried the [JwtAuthenticationHandler](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.AspNetCore/JwtAuthenticationHandler.cs) and it works perfectly! The only considerations are adding a **IJwtDecoder** to your dependency container which I did by using some snippets from your README file

[code]

and also adding a Scheme when adding the authorization

[code]

[code]

[2021-09-10 03:26] abatishchev commented on #341
@frankely I'm happy to hear it worked for you!

How so you think which of this code needs to go into the middlewear, if any? Of maybe the middlewear needs to be deleted altogether? This package / part of the library isn't too popular or known so not polished enough.

On other hand, if we introduce something like `UseJwtAuthorization()` (or `Add()`?) what should go into there?

[2021-09-10 17:48] frankely commented on #341
@abatishchev I feel that something that should be done is to register at least a default IJwtDecoder when calling UseJwtAuthorizatio.

[2021-09-12 19:05] #327 closed

[2021-09-12 20:40] abatishchev commented on #341
hey @frankely, my bad, it's already partially implemented. I just completely forgot about it. The registration should look like this:

[code]

I've updated the readme via #345.

It registers all components other than `IAlgorithmFactory`.

I also added an overload `AddJwt<TFactory>() where TFactory :  IAlgorithmFactory` which will do register all components without exceptions (hopefully). Please ch

[2021-09-12 20:40] #341 closed

[2021-09-12 21:16] frankely commented on #341
This is awesome! Thank you @abatishchev I will update my code as soon as I can and I will let you know! Thank you for having this repo available.

[2021-09-23 16:18] wtjones opened #350 "What is the relationship between IAlgorithmFactory and JwtAuthenticationOptions.Keys?"
The RS256Algorithm requires a key in the ctor, yet I allow validation against multiple public keys. I handle it via something like this:

[code]

In `Startup.cs`:

[code]

Since the algorithm requires the public key, it has to be built via the factory. The options.Keys property is ignored. Is this the intended usage? The code works but I wanted to make sure that I’m not missing something.

The dra

[2021-09-23 16:47] abatishchev commented on #350
`Keys` is an unfortunate artifact of the past, when this library supported only symmetric algorithms (and I wasn't maintaining it). Since then - I have to carry it over. For asymmetric algorithms it's not needed.

But looks like it's a bug in [the code](https://github.com/jwt-dotnet/jwt/blob/5f11052347f89dbd390e59401af9cf8a8dfec44b/src/JWT/JwtDecoder.cs#L234) as it validates the keys to be not nul

[2021-09-28 23:58] #350 closed

[2021-10-04 13:16] ankur4822 opened #352 "After upgrading my current project from .Net Core 3.1 to 5.0 getting error in jwtbuilder"
When I upgraded my project to .NET 5.0 from 3.1. I have updated all my dependencies of the project

I am getting a build error in the project.

'JwtBuilder' does not contain a definition for 'Build' and no accessible extension method 'Build' accepting a first argument of type 'JwtBuilder' could be found (are you missing a using directive or an assembly reference?)

The piece of code where this err

[2021-10-04 15:57] abatishchev commented on #352
hi! Looks like you didn't update the version of Jwt.Net itself for a while too :)

Please use `Encode()` to create a token and `Decode()` to parse one. Here's [the doc](https://github.com/jwt-dotnet/jwt/blob/main/README.md#or-using-the-fluent-builder-api).

[2021-10-06 13:39] BlackBearFTW opened #353 "Documentation Unclear"
I am trying to implement this package on my web api, so I installed the asp extension package and copied this codeblock
[code]

This is my utility for generating the token (and validating, but that isn't being used atm)
[code]

    However when I use a valid token to go to an `[Authorize]` route, I still get a 401 response.

    My console shows this:
[code]

However the documentation is so unclea

[2021-10-06 14:05] abatishchev commented on #352
@ankur4822 ping. Did it work?

[2021-10-06 14:23] BlackBearFTW commented on #353
This should go in my startup.cs file right? Where exactly?

[2021-10-06 14:29] abatishchev commented on #353
[code]

[2021-10-06 14:38] BlackBearFTW commented on #353
Okay, but the utility Verify method isn't being called from my startup.cs

[2021-10-06 15:17] abatishchev commented on #353
What's your environment? I mean the version of ASP.NET Core.

Here's the code: https://github.com/jwt-dotnet/jwt/blob/main/src/JWT.Extensions.AspNetCore/AuthenticationAppBuilderExtensions.cs#L23

It registers all the necessary components but by some reason the DI container chooses incorrect (partial) ctor which doesn't pass the validator hence later it throws exception.

[2021-10-06 15:18] BlackBearFTW commented on #353
.net 5 Asp.net core web api (latest stable release)

[2021-10-06 15:21] abatishchev commented on #353
I found what's the problem. It's not about missing the validator, it's about missing algorithm factory.

The test does the following:

[code]
Another option is to use `AddJwt<TFactory>()` if you have a custom implementation of `IAlgorithmFactory`.

I'll clarify the readme.

[2021-10-06 15:55] abatishchev commented on #353
This is a one-man show that I run in my spare time.

ASP.NET Core extensions were added quite recently so having good docs is a work in progress.

`algorithm` can be either symmetric (HMAC256, means simple hash) or asymmetric (e.g. RS256, means X.509 certificate). You should really use only **the latter**. The former is an artifact of the past.

Which one you're using?

[2021-10-06 16:12] BlackBearFTW commented on #353
[code]

Still getting a 401 status

[code]

I will use `HMAC256` since I don't fully understand how `RS256` works atm.

[2021-10-06 17:27] abatishchev commented on #353
Try to copy [this code](https://github.com/jwt-dotnet/jwt/blob/main/tests/JWT.Extensions.AspNetCore.Tests/JwtAuthenticationHandlerIntegrationTests.cs#L128) to your project and run, it should tell better why it's getting rejected.

[2021-10-06 18:10] abatishchev commented on #353
Let's figure this out, happy to help and learn together. I'd suggest maybe to switch to a certificate-based asymmetric algorithm and make it work, rather than wasting time on insecure hash-based one.

[2021-10-06 18:29] abatishchev commented on #353
For HMAC algorithm, the secret matters:

[code]

Which should match:

[code]
Just want to make sure they do.

[2021-10-06 18:42] BlackBearFTW commented on #353
Yeah it does, should I do anything with https://github.com/jwt-dotnet/jwt/issues/353#issuecomment-936743494

[2021-10-06 19:23] abatishchev commented on #353
I'm puzzled why the token is valid but the user is not authorized. Do this:

1. Download this library's source code (both Jwt and AspNetCore)
2. Removed package references from your projects
3. Add project references
4. Rebuild all
5. Debug

You'll see where it gets rejected. Makes sense?

[2021-10-07 15:38] abatishchev commented on #353
Or try your luck with a Microsoft library for JWT auth. See if your setup will work out of the box. Or it's something else is misconfigured or missing.

[2021-11-08 23:25] LeTranAnhVu opened #356 "User.Identity.IsAuthenticated is always false when use JWT.Extensions.AspNetCore"
Follow the README.md in JWT.Extensions.AspNetCore to configure the JWT Authentication stuff. Then I figured out that `User.Identity.IsAuthenticated` is always false. That is because the default IdentityFactory does not provide the Authentication Theme.
I have to custom  the Identity instance in `options.IdentityFactory` like this:

[code]
Does anyone has better idea? Or did I miss configuring some

[2021-11-08 23:32] abatishchev commented on #356
What I can do is to pass it indeed? And make it configurable whether to do so or not.

[2021-11-09 16:51] LeTranAnhVu commented on #356
Yes, the PR look good to me.

[2021-11-10 13:17] hartmark opened #358 "Add algorithm "none" and generate custom header"
We have some middleware where we use "unsecured jwts"

According to spec it's a valid alg:
https://datatracker.ietf.org/doc/html/rfc7519#section-6

A method named .WithoutAlgorithm() and making .Secret optional it it set would work for us.

We also need to add some custom values into the header.

We use the following code now as workaround:

[code]

[2021-11-16 22:01] #356 closed

[2021-11-17 03:06] #358 closed

[2021-11-18 00:47] #336 closed

[2021-11-30 22:38] seancallinan commented on #353
[code]

[2021-12-29 14:41] kristof12345 opened #364 "Replace Newtonsoft with System.Text.Json"
Hi!

Please update to .net 6 and replace Newtonsoft with System.Text.Json.

Thanks.

[2021-12-29 23:43] abatishchev commented on #364
Hi! It's actually 2-issues-in-1.

I might be able to come to the upgrade to .NET 6 soon as it's trivial. On other hand, since it's trivial, please don't hesitate to contribute yourself. You can use #315 as a reference

The latter is little less trivial, see #76. Meanwhile it's already possible to substitute the serialization engine by reimplementing [IJsonSerializer](https://github.com/jwt-dotnet/

[2021-12-29 23:48] abatishchev commented on #364
By looking at the list of supported target frameworks by the [latest version](https://www.nuget.org/packages/System.Text.Json/6.0.1), I see it supports `net472` and `netstandard2.0` so we potentially can drop Json.Net, keeps it only in `net35` and `net40`.

[2022-01-01 01:48] abatishchev commented on #364
@kristof12345 the former is done, please try version [8.8.1](https://www.nuget.org/packages/JWT/8.8.1).

For the latter, please consider contributing. I'd happy to help to get it reviewed and published in a timely manner.

[2022-01-19 09:04] abrasat opened #369 "How to get the TokenExpiredException on a token, without the signature verification"
First of all thanks for the great library. I have an application which calls cyclically some web service api, secured with a JWT token. I would like to check if the token has expired before each call to the web service. For this I would like to catch the TokenExpiredException when decoding the jwt token. The problem is that the "secret" of the jwt token is not known on the application side, so tha

[2022-01-19 16:37] abatishchev commented on #369
Thanks for kind words! You're welcome.

It might not be too elegant but still possible. See methods [Decode()](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/JwtDecoder.cs#L143) and [Validate](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/JwtDecoder.cs#L227). By default the former calls the latter only of `validate = true` but you can try call it manually.

Another option is to call cal

[2022-01-20 13:51] abrasat commented on #369
@abatishchev Thanks for pointing out the relevant code. I took a look, but dont really see how to avoid that the SignatureVerificationException is thrown before the method "private Exception GetValidationException(string payloadJson)" is called.

[2022-01-20 18:51] abatishchev commented on #369
`JwtValidator.Validate()` calls `JwtValidator.TryValidate()` and it has returned non-empty ex - it will throw it. If you call `JwtValidator.TryValidate()` yourself then no exception would be thrown. Is what you're looking for, or something else?

Or maybe I see now what you're saying. Would it help if I make some/all methods of JwtValidator `public`?

[2022-01-21 07:07] abrasat commented on #369
Yes, some methods could be made public. For example the above mentioned method "private Exception GetValidationException(string payloadJson)"

[2022-01-22 16:14] #369 closed

[2022-02-12 14:48] doggy8088 opened #372 "User.Identity.Name is always Empty when use JWT.Extensions.AspNetCore"
In ASP.NET Core, there is a very common `User.Identity.Name` property. I couldn't get it after authenticated. Is there any way to get this?

[2022-02-12 14:51] doggy8088 opened #373 "options.IdentityFactory is missing"
Does the `options.IdentityFactory` removed? I couldn't find it.

![image](https://user-images.githubusercontent.com/88981/153716097-9f06457c-8e5b-4a85-9827-d81dd7c37773.png)

[2022-02-12 15:17] doggy8088 commented on #372
I found that I have to add `ClaimTypes.Name` to the claims to get this.

[code]

[2022-02-12 15:17] #372 closed

[2022-02-12 15:28] doggy8088 opened #374 "Unable to parse JWT Token handle data type other than String"
Here is the payload of my JWT token:

[code]

The `roles` is an array. This is used for ASP.NET Core `Roles`. If I want to use this, I can't parse this type of JWT Token. I'll get the following error:

[code]

[2022-02-12 17:17] abatishchev commented on #373
Hi,
I must've missed to update the doc? Where did you find It? Or you were using it before?
I replaced `options.IdentityFactory` with `IIdentityFactory` that need to be injected into the Do container.

[2022-02-12 18:31] abatishchev commented on #374
ClaimsIdentity allows to add the same claim (role) multiple times, see https://stackoverflow.com/a/54668832/41956.

However that's not possible in JSON, each key must be unique.

[2022-02-12 18:38] doggy8088 commented on #374
I think the payload should not decoded as `Dictionary<string, string>`. It because the payload doesn't have to be identical as [Claims](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim.-ctor#system-security-claims-claim-ctor(system-string-system-string)).  If the items of the payload is an array, the `DefaultIdentityFactory` should parse it as separate Claims with the same

[2022-02-12 18:46] abatishchev commented on #374
That's the premise of the code.

That would require a custom serializer as it should support both `string` (default case) and `string[]` (your case) as the value. And note that it's a single key on your payload, others are regular strings.

If you'll be willing to contribute to the library - I'll be happy to help out, review and ship it asap.

[2022-02-12 18:51] doggy8088 commented on #373
I found these on the README of the repo.

![image](https://user-images.githubusercontent.com/88981/153724249-6d5f841c-3f83-4a5b-ac53-217b9a2ce63b.png)

https://github.com/jwt-dotnet/jwt/blob/20378ec58608119b08f7d199fb4064f2d1b0fab1/README.md?plain=1#L300-L310

[2022-02-12 18:52] doggy8088 commented on #374
I'm willing to contribute.

I have to replace the `JwtAuthenticationHandler` and `DefaultIdentityFactory`, right?

[2022-02-12 19:08] abatishchev commented on #373
Thanks! Updated the readme.

[2022-02-12 19:12] doggy8088 commented on #373
Nice, Thanks!

[code]

[2022-02-12 19:12] #373 closed

[2022-02-12 19:14] doggy8088 commented on #373
@abatishchev
Also, the https://github.com/jwt-dotnet/jwt#register-middleware-to-validate-jwt also outdated. These are not **middleware**.

[2022-02-12 19:17] abatishchev commented on #374
I got an idea:
I'll expose property `Type` that by default would be `Dictionary<string, string>` which you can redefine with your own, e.g. strongly-typed or `Dictionary<string, object>`. Then your custom `IIdentityFactory` will create claims from it.
I'll give it a try shortly.

[2022-02-12 19:18] abatishchev commented on #373
Sure, will update the wording with my next PR. Thanks!

[2022-02-13 22:55] #374 closed

[2022-02-13 22:56] abatishchev commented on #364
@kristof12345 friendly ping on support System.Text.Json, that would be an awesome addition to the library

[2022-02-14 10:36] doggy8088 commented on #373
@abatishchev I didn't see the PR. Just reminding. 😅

[2022-02-14 16:55] abatishchev commented on #373
Ah, bummer. Forgot. Will do. Thanks!

[2022-03-04 14:51] aienabled opened #377 "Time margin / TokenExpiredException"
Good day,
I've noticed that we have plenty of TokenExpiredException errors in the log. While reviewing the code I've noticed that the default time margin for validator is zero seconds:
https://github.com/jwt-dotnet/jwt/blob/cff76cd8ce8f943850410c51f51ee76180f39694/src/JWT/JwtValidator.cs#L38

Is this correct?

Regards!

[2022-03-04 15:55] abatishchev commented on #377
Hi! Yes, it is. The time margin functionality was introduced later so to keep backward compatibility it was set to 0.

[2022-03-04 16:07] aienabled commented on #377
Ah, it makes sense. I will investigate why we're getting these exceptions, perhaps it's on the client side.
Thank you for the quick reply!

[2022-03-04 16:21] abatishchev commented on #377
Sure thing, happy to help. Feel free to post my questions/issues.
Please also give a try to a recently published beta.
Are you using the extensions package for ASP.NET Core?

[2022-03-04 16:31] aienabled commented on #377
I'm working on a custom webservice to validate tokens issued by Epic Online Services (game ownership verification). Due to legacy code it's still running on .NET Framework 4.7.1.
I'm not sure about trying the beta as this webservice is operating in production environment.
I guess the expired tokens were cached on the client side for some time.

Regards!

[2022-03-04 16:31] #377 closed

[2022-03-07 20:51] drusellers opened #378 "Null Reference Exception when generating a token"
While trying to use the JwtEncoder to build out a JWT I ran into a `NullReferenceException`. I was able to track it down to the following code.

So in the JwtEncoder (registered via `services.AddJwtEncoder<HMACSHAAlgorithmFactory>();`)

When I call

[code]

This leads to a `NullReferenceException` at

https://github.com/jwt-dotnet/jwt/blob/5d59adf102144499e3ed762a6c65fa006e622c99/src/JWT/Algorithm

[2022-03-07 21:00] abatishchev commented on #378
hi! thanks for reaching out and reporting the issue. I'll fix it asap.

[2022-03-07 21:01] abatishchev commented on #378
Can you please first list the versions of the NuGet packages you're using? Jwt, Extensions.DI, Extensions.AspNetCore.

[2022-03-07 21:15] drusellers commented on #378
[code]

<img width="391" alt="image" src="https://user-images.githubusercontent.com/63355/157118913-9decce52-8c1d-473e-aefe-b194f0572a68.png">

[2022-03-07 21:18] abatishchev commented on #378
From the code I see that the intend that `JwtEncoder` would hold an instance of `DelegateAlgorithmFactory` that will return the algorithm. Somehow it never occurred before that it would be `JwtAlgorithmFactory`. They're basically incompatible since Encoder has no information about the context and the algorithm at this point. At least that's the current implementation.

Can you show your setup in `

[2022-03-07 21:31] drusellers commented on #378
**`Program.cs`**

[code]

[2022-03-14 03:19] Iapetus-11 opened #379 "JwtBuilder doesn't respect System.Text.Json.Serialization.JsonPropertyName attribute when deserializing into a record"
[code]
I have this record and this code
[code]
In this case, data is an instance of `UserJwtTokenPayload` with default values because `.Decode<...>(...)` does not respect the `[JsonPropertyName(...)]` attribute.

If I were to rewrite this to use `System.Text.Json`, this works just fine. Example:
[code]

It seems that it should be respecting `JsonPropertyName` attributes when decoding as the librar

[2022-03-14 03:25] abatishchev commented on #379
Hi,
`[JsonPropertyName]` looks like a `System.Text.Json` attribute. Yeah, I think [it is](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonpropertynameattribute?view=net-6.0).
Jwt.Net uses Json.Net which will ignore it. You need to use [its attribute](https://www.newtonsoft.com/json/help/html/jsonpropertyname.htm) `[JsonProperty]` to achieve the same.
Makes sense?
Or

[2022-03-14 03:33] Iapetus-11 commented on #379
Alright thank you, though it's still weird that it does respect the attribute when serializing.

Maybe, I'm still new to C#, I'll think about it.

[2022-03-14 03:33] #379 closed

[2022-03-14 04:03] abatishchev commented on #379
To explain little more: those are 2 different JSON serializing libraries with their own set of attributes, what means one is unaware of the another.

[2022-03-14 10:48] Iapetus-11 commented on #379
Oh I understand that, which is why it's so weird that one library is partially respecting the attributes of another.

[2022-03-14 16:56] abatishchev commented on #379
Sorry, it might be confusing indeed. `System.Text.Json` reuses some methods and attributes names from `Json.Net`. When the name is same it would look like one respects another.

[2022-04-08 09:10] abatishchev opened #380 "Build is broken, fails with error: CSC(0,0): Error CS0006: Metadata file 'D:\mscorlib.dll' could not be found."
All PRs are blocked.

[2022-04-08 09:10] abatishchev commented on #380
Filed a big at https://github.com/microsoft/azure-pipelines-tasks/issues/16099

[2022-04-08 09:12] abatishchev commented on #378
@drusellers hi! Sorry for the delay, didn't know what to do. But now I've got an idea but currently the build is busted so I can't try it out, see #380. Will come back to this issue as soon that one is resolved.

[2022-04-08 13:11] drusellers commented on #378
No worries @abatishchev - thank you for even looking at it. :) Hopefully, the build will be fixed soon.

[2022-04-08 18:05] #380 closed

[2022-04-08 19:14] abatishchev commented on #331
Resolved by #376.

[2022-04-08 19:14] #331 closed

[2022-04-08 19:27] abatishchev commented on #378
@drusellers are you using both `Decode()` and `Encode()`, or only  the latter?

[2022-04-08 20:22] drusellers commented on #378
I'm using the `Encode()` to generate a JWT manually and then the dotnet `.AddAuthorization().AddJwt()` does the decoding.

[2022-04-09 17:17] abatishchev commented on #378
The problem is in the algorithm factory being registered. All but DelegateFactory are for decoding since the algorithm is read from the JWT header.
And to encode you specify certain algorithm by passing to DelegateFactory.
Would that work for you?

[code]

On other hand I think it needs be to this:

[code]

Which will pass and register it for you.

[2022-04-10 22:36] #378 closed

[2022-04-10 22:47] abatishchev commented on #378
@drusellers please update to:

- JWT 9.0.0-beta5
- JWT.Extensions.DI 2.0.0-beta1
- JWT.Extensions.AspNetCore 9.0.0-beta2

[2022-04-29 05:17] michaelakin opened #393 "Sign via RSA256 with only Private Key"
I am trying to create a bearer token with an RSA Private key according to NetSuite's documentation:

- "The value of the client_assertion parameter is a JWT bearer token. The token is signed with the private part of the certificate used for mapping of the application"

but I Can't figure out how to construct the api call.

Here is what I have so far.

[code]

I get an error that the public key mus

[2022-04-29 06:02] abatishchev commented on #393
hi! here's the code:

https://github.com/jwt-dotnet/jwt/blob/47cdba3dee007ab8224cf2f6c3e613e3420f9502/src/JWT/Algorithms/RS256Algorithm.cs#L16-L19

which then calls:

https://github.com/jwt-dotnet/jwt/blob/47cdba3dee007ab8224cf2f6c3e613e3420f9502/src/JWT/Algorithms/RSAlgorithm.cs#L20-L24

hence the exception.

Can you try this:

[code]

[2022-04-29 14:09] michaelakin commented on #393
Thanks, that did not throw the exception, but I was still not able to connect.  Is it using BOTH keys to encrypt, or just 1?

[2022-04-29 18:55] michaelakin commented on #393
Ok, so why does it require both if I am just encoding?

[2022-04-29 19:17] abatishchev commented on #393
It just wasn't a scenario so far discussed/supported. Another reason - tecnicaal, there are two ctors:

1. new RS256Algorithm(RSA, rsaPublicKey)
2. new RS256Algorithm(rsaPublicKey)

So I can't add a third one:

3. new RS256Algorithm(rsaPublicKey)

Since they would clash.

[2022-04-29 19:18] abatishchev commented on #393
Btw can you just pass the certificate itself?

[2022-05-04 16:35] michaelakin commented on #393
I haven't tried that option I guess.

[2022-05-04 16:35] #393 closed

[2022-05-12 19:17] drusellers opened #394 "Supporting Multiple Keys in Asymmetric Algos"
Ok, I am building up my ASP.Net API Application to use the RS1024 algorithm.

[code]

This is working, I can generate and consume the JWTs.

A year goes by, and now I want to rotate those keys. Reading through JWT it looks like I can use the `kid` header to give the keys id's which can be used for looking up the right cert.  However I'm not sure how I would ever get access to the JWT header (or th

[2022-05-14 00:44] abatishchev commented on #394
hi! sorry for the delay in the response! my main question would be if you're encoding or decoding? just to make sure, but I guess decoding, otherwise it doesn't make too much sense. Here's what's supported today:

https://github.com/jwt-dotnet/jwt/blob/7c7bfe3bdaa10e709ab3cc81b18435a856ced36b/src/JWT/JwtDecoder.cs#L235-L236

and then

https://github.com/jwt-dotnet/jwt/blob/7c7bfe3bdaa10e709ab3cc81

[2022-05-14 00:46] abatishchev commented on #394
An issue though that the DI extensions project doesn't have a great API so doesn't support well registering the JWT infrastructure for encoding and decoding in the same time. I tried to overcome it in #378.

What's the version of the library you're using?

[2022-05-14 00:58] abatishchev commented on #394
Wait! Your question isn't about choosing the algorithm but about choosing the key based on the `kid` in the header.

What if you provide a custom factory:

[code]

or something more generic:

[code]

If any of these works - then we can ship it with the library. Help to come up with a better name though.

[2022-05-18 11:03] pagefault commented on #273
Hi,
I just ran into this problem as well because I was missing the WithAlgorithm. The error that gets thrown still only says:

-WithSerializer
-WithValidator
-WithUrlEncoder.

I think you should add WithAlgorithm to that error message. Without this issue from google results I wouldn't have solved this so easily.

[2022-05-18 15:58] abatishchev commented on #273
@pagefault can you please open a new issue and post there the initial version of your code that didn't work and then how you've fixed it? thanks!

[2022-05-18 21:40] pagefault opened #395 "Nuget release 9.0.0 breaks fluent builder decoding without specifying an algorithm (RSA)"
Hi,
we're maintaining a .Net 4.8 project that used the nuget package version 8.9.0 until yesterday. I decided to upgrade the package to 9.0.0 while working on our jwt code anyway. This upgrade resulted in our software crashing with the following error:

-WithSerializer
-WithValidator
-WithUrlEncoder."

I narrowed it down to the following reproducible code. This crashes on .Net 4.8 with the Nuget p

[2022-05-19 19:46] abatishchev commented on #395
Thanks so much for investigating further and figuring out which change has broke you.

I think it's a good thing though that by default verify is now true by default. How do you think? The default behavior must be secure with a away to opt out, rather the other way around.

[2022-05-20 08:24] pagefault commented on #395
I agree that the default behaviour should be the secure configuration.

I'm thinking that maybe the fluent api should be changed though to only allow valid chaining of calls. That feels much more robust than relying on exceptions at runtime so heavily. This would require a bit of a redesign of the JwtBuilder class though and would not be backwards compatible for all current use cases. Would that b

[2022-05-22 18:10] abatishchev commented on #395
Any ideas and suggestion how to improve the library, ideally - contributions, would he greatly appreciated! Happy to join the forces, get it reviewed and shipped.

[2022-05-23 09:52] abrasat commented on #369
@abatishchev : Can you please give me some hints about how to perform the token expiration check with the new library version? This was the code with the previous version, based on your code sample:

[code]

[2022-05-23 16:59] abatishchev commented on #369
@abrasat hi, does this snippet work? can you please elaborate the question? happy to help!

[2022-05-24 05:46] abrasat commented on #369
@abatishchev : Yes, I used the code above to verify if a token was expired, without checking the signature. The code does not compile with the new version 9.0. It seems that some changes were made in JwtValidator regarding the token validation checks, that is why I asked what would be the best way to check if a token was expired, using the actual version.

[2022-05-24 05:54] abatishchev commented on #369
What's the compiler error you're getting? The only chance was made was in the ctor of JwtValidator. What's the value of `timeMargin` you're passing?

[2022-05-24 06:26] abrasat commented on #369
@abatishchev  : There is no JwtValidator constructor where the value of timeMargin (was set to 10 seconds) can be passed. I found that there is a class ValidationParameters available now. Not sure about how my code has to be adapted with the new JwtValidator constructor parameters. Do I still have to use the JwtParts to get the validation exception?

[2022-05-24 06:29] abatishchev commented on #369
Try to pass this:

[code]

[2022-05-24 06:35] abrasat commented on #369
@abatishchev : Thanks. Is the signature check disabled with the code above? And how do I get the result of the validation check, do I still have to call "GetValidationException" with the JwtParts object?

[2022-05-24 06:37] abatishchev commented on #394
@drusellers ping. Did you try any of the above? Does it work, does it not?

[2022-05-24 06:39] abatishchev commented on #369
To have all checks disabled (what doesn't matter in your case, I think), use `ValidationParameters.None`. No changes in the underlying logic have been made.

[2022-05-24 09:32] abrasat commented on #369
Ok, thanks. Do I have to activate also the ValidateExpirationTime, besides setting the TimeMargin ?

[code]

Or is this the setting of ValidateExpirationTime to true not necessary, if the token expiration validation exception is manually checked (GetValidationException() call) ?

[2022-05-24 12:50] drusellers commented on #394
@abatishchev sorry I switched tasks, but reading the code this looks like exactly what I need. I'll implement it later today and put some thoughts towards naming - config - etc.

[2022-05-25 01:10] drusellers commented on #394
Ok, so that was great. It's looking like I'll be working with something like

[code]

Then I'm planning to build a registration that looks like this:

[code]

[2022-05-25 01:14] abatishchev commented on #394
Looks promising! Few suggestions:

1. You can use `x ?? throw new Exception(...);` to shorten the code
2. And inherit the factory which will accept the store in its ctor and pass the method on it to its base class. This way you can shorten and simplify the DI registration code.

[2022-05-25 01:21] drusellers commented on #394
1. Ah, good point on the `??` I'll add those in.
2. Good point, I'll keep an eye on it. I may keep it separate to deal with the complexity of storing the keys in a different class / concern. But I like your direction. In the end, I may refactor my idea to use it.

I'll post back here once the code has some wear and tear on it, then I'll look to submit a PR back. :)

[2022-05-25 07:19] abrasat commented on #369
@abatishchev : Thanks. Could you please change the code for ValidateNbfClaim() and throw the same exception for nbf as for exp, instead of the SignatureVerificationException for the nbf check? Or eventually even a new TokenNotYetValidException?

[code]

[2022-05-25 17:16] drusellers commented on #394
Ok, running into the null context issue again - for context its this line of code - https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/JwtEncoder.cs#L49

[code]

When I call Encode on the JwtEncoder it then does

[code]

[2022-05-26 13:33] abrasat commented on #369
[https://github.com/jwt-dotnet/jwt/pull/397](https://github.com/jwt-dotnet/jwt/pull/397)

[2022-05-31 01:36] abatishchev commented on #394
Sorry, just got back from a vacation.

Yes, the problem is that the algorithm factory that is used for decoding can't be used for encoding. Decoding has context (e.g. from the underlying HTTP request), encoding does not. Instead the latter should be driven by the configuration, simply put - the algorithm needs to be hard-coded.

Sorry for the troubles you're facing with the library. And appreciate

[2022-05-31 09:22] drusellers commented on #394
@abatishchev absolutely no worries.

Oh, this just kinda sank in for me. Ok, now I'm tracking as to the why. :D

Thank you for your patience in explaining things, and for even providing the library. :D

Now that I better understand the constraint, I'll see what my caffeine addled brain comes up with, and let you know. Otherwise, it might be that I use the Builder Model for the encoding. I'll at le

[2022-06-01 15:03] moggoly opened #398 "README needs updating to remove use of obsolete algorithms"
The README shows several examples of using the library with HMACSHA256Algorithm, which has now been marked as obsolete. This should be updated with examples using the now recommended algorithms instead.

[2022-06-03 12:31] hartmark commented on #364
What's missing/not working in the code added in the PR?

[2022-06-03 14:30] hartmark commented on #395
Oh, the signature was missing in the jwt like this "header.payload." resulting in the signature getting null

[2022-06-03 17:22] abatishchev commented on #395
@hartmark please see if the improvements in #399 would make it bit better.

[2022-06-03 17:23] abatishchev commented on #395
Also, can the issue be closed or you'd like more help?

[2022-06-03 18:10] hartmark commented on #395
Cool, I'll check it out when kids are put to bed 😀

[2022-06-04 00:51] hartmark commented on #395
I still got same problem, the code was missing some checks for none algorithm.

I have added a PR for my tests and fixes: #400

When writing the tests I realized that the decoder doesn't use the algorithm specified by the .WithAlgorithm()-method, it uses the algorithm it sees in the header.

The question is if the code should check if the specified algorithm should match the one in the header in t

[2022-06-04 00:59] abatishchev commented on #364
Yes, exactly. I outlined this idea in #76. Tried in #389 something different but it didn't work.

[2022-06-04 01:46] hartmark commented on #364
What didn't work? I got it compiling with this small changes to your branch.

See this PR #401

However the asserts seems to be off as it complains about not matching types.

When running the test:
Decode_To_Dictionary_Should_Return_Dictionary_When_Algorithm_Is_Symmetric

I get this error:
[code]

Note it's complaining it cannot compare "Jesus" with Jesus, when debugging it looks like this:
![imag

[2022-06-04 02:00] hartmark commented on #364
It seems Newtonsoft.Json does some guessing about what the type of the underlying object is and System.Text.Json does the safe way to not assume anything.

So the fix is to add a custom deserializer like this:
https://josef.codes/custom-dictionary-string-object-jsonconverter-for-system-text-json/

I'm going on vacation now and will be away until Tuesday so do a gently poke to me if you don't get i

[2022-06-05 18:00] #398 closed

[2022-06-08 01:36] wuzhenda opened #404 "How to convert from Java code?"
I got a piece of java code which implemented the jwt, how to convert to use dotnet implement?

[code]

[2022-06-08 01:39] abatishchev commented on #404
See if this section helps: https://github.com/jwt-dotnet/jwt#or-using-the-fluent-builder-api

[2022-06-08 01:40] abatishchev commented on #404
Please keep in mind that while the API look similar, these are two different libraries, unrelated to each other, not a port of one to another.

[2022-06-08 01:56] wuzhenda commented on #404
Yes.My problem is the  "SignatureAlgorithm" part. I'm not familiar with RS256Algorithm method.

[code]

[2022-06-08 06:52] abatishchev commented on #404
Looks it's what you were using before. The corresponding algorithm now would be HMACSHA256Algorithm,. It doesn't require a certificate, nor does seemingly your old code.

I might be wrong and it's important as this would be a symmetric algorithm, basically just a hash. It encodes the token but doesn't encrypt, hence doesn't provide real security.

Do you have an example of the resulting token? Esp

[2022-06-08 08:46] wuzhenda commented on #404
this is a token generated by the Java guys.

[code]

I tried to use the jwt-dotnet to decode ,but it throwed exceptions.

[2022-06-08 08:49] wuzhenda commented on #404
the JWT_SECERT in my first comment below, it based on the project [okta-java-jwt]( https://github.com/oktadeveloper/okta-java-jwt-example.git)
[code]

[2022-06-08 18:43] mattabb opened #406 "How to create a HMACSHA256Algorithm using custom Secret"
I know this is not ideal nor safe, however I am currently updating legacy code and need backwards compatibility.  The HMACSHA256Algorithm constructor doesn't have a constructor for the secret however.  Is this something that is possible?

Thanks

[2022-06-08 19:01] abatishchev commented on #406
Please see #404, it has some samples how to do that. Basically you pass the secret as a byte array to `Decode(token, byte[], bool)`.

[2022-06-08 22:27] hartmark commented on #395
@abatishchev you can close the issue for my part atleast as the things I had problems with have been merged already

[2022-06-08 22:29] hartmark opened #407 "Build pipeline for linux?"
I see that there are a pipeline setup for the repo, it does however just build on windows.

Regarding the move to System.Text.Json and the question of increasing test coverage I think it would be nice to have added coverage to also build for linux.

Thoughts?

[2022-06-08 22:33] abatishchev commented on #407
Would be awesome! To at least run tests in parallel on two different pools/OS.

[2022-06-08 22:34] #406 closed

[2022-06-08 22:36] hartmark commented on #407
I'm running on arch linux at home and windows at work so I can assist if there is some issues :)

[2022-06-09 00:43] wuzhenda commented on #404
tks.this really helps me.

[2022-06-09 00:43] #404 closed

[2022-06-09 15:19] drusellers opened #408 "JwtBuilder WithAlgorithmFactory and Encode doesn't work."
I just tried to use

[code]

And I got the exception

[code]

Which surprised me because I gave the builder an algorithm factory to use, that will produce an algo if asked.

I also noticed that there aren't any tests that cover using the `WithAlgorithmFactory` and not providing an `WithAlgorithm`

Does it make sense to allow this to work for encoding?

Library 9.1

[2022-06-09 16:47] abatishchev commented on #408
Looking at the code:

https://github.com/jwt-dotnet/jwt/blob/070389ba83acb25d9e096b98eb923c0ff5ee1472/src/JWT/Algorithms/DelegateAlgorithmFactory.cs#L23-L29

The only reason for the error is that `_myHardCodedFactory` returns `null`.

Can you make sure it doesn't? Post its code here, if possible. Let's take a look.

[2022-06-09 16:57] drusellers commented on #408
[code]

[2022-06-09 18:24] #408 closed

[2022-06-09 18:34] abatishchev commented on #408
Sorry for the bug and thanks for reporting it. Fixed and published to NuGet as [10.0.0-beta2](https://www.nuget.org/packages/JWT/10.0.0-beta2)

[2022-06-09 18:54] drusellers commented on #408
@abatishchev not a problem at all. It's a team effort. TY for being so responsive.

[2022-06-09 20:28] abatishchev commented on #394
hey @drusellers, how this one going?

[2022-06-09 20:30] drusellers commented on #394
Working on it today. Just getting all of my cert generation buttoned up and automated - and then I'll be testing my setup. I should have an update later today. :)

[2022-06-09 20:54] mattabb opened #410 "Example of ECDSAAlgorithm?"
I was unable to correctly sign with a ECDSA key. I attempted to create an algorithm like:

`var algo = new ECDSAAlgorithm();`

I was unable to do this, however was able to create:
`var algo = new ECDSAAlgorithmFactory()`

which was unworkable.

[2022-06-09 21:01] abatishchev commented on #410
I frankly never used it myself as it was an OSS contribution to the library.

`ECDSAAlgorithm` accepts either one or two `ECDsa` objects (two for encoding/signing, just one for reading/validation). Or `X509Certificate2` which I guess must be certain certificate so ` cert.GetECDsaPrivateKey()` and `cert.GetECDsaPublicKey()` would return something.

[2022-06-10 12:57] drusellers commented on #394
Ok, now that I have everything working, and I think a bit better understanding here is what I ended up doing.

So the decoding process works great, and and all of my work is really about working through the encoding side.

- for decoding I have a `KeyedRSAlgorithmFactory` that looks up the key based on the `kid` in the headers. This is working well so far. I want to add some logging and just bake

[2022-06-12 16:20] abatishchev commented on #394
Sorry for a slow response, working on two things in parallel (my primary job is cool but high-demanding) requires context switching and it's hard to me.

Primarily yes. But also it works as public key for asymmetric algorithms but that part is a magic to me. Or maybe not, need to look into the code. But if you wake me up in the middle of the night, I won't be able to explain :)

I think we should

[2022-06-16 00:19] hartmark opened #412 "JWT.Extensions.AspNetCore refers JWT prerelease version"
Hello,

It seems the  JWT.Extensions.AspNetCore nuget version 9.1.0 refers pre-release version of JWT.

https://www.nuget.org/packages/JWT.Extensions.AspNetCore

[2022-06-16 05:23] abatishchev commented on #412
Ah, indeed. Bummer, my bad. Because all packages are pushed from the same repo off the main branch. And then the main lib got bumped to a beta version and then I pushed a non-beta version of the extension.
How much troubles does that cause?

[2022-06-16 11:56] drusellers commented on #410
@mattabb I'm not sure why you chose ECDSA, however when I went to chose between the two, I avoided it since it only works on `.Net Standard 2.0`. I instead went with `RS` family of encryption. If that would work for you, I'd be happy to share my steps.

[2022-06-16 12:07] drusellers opened #413 "Improve the integration with AspNetCore"
I would love to see the various event methods on `JwtAuthenticationOptions` be exposed via the `EventsType` model like other Authentication providers. This would allow me to then pull in other items from my container and would allow me to build out a richer set of logging, rather than only having the items that are exposed in the current methods. These one off event methods should still be exposed

[2022-06-16 13:27] drusellers commented on #413
Side Note: Today I learned that this snippet of code for logging was "erasing" my successful login. 😂

[code]

[2022-06-18 00:22] #364 closed

[2022-06-18 01:22] hartmark commented on #413
If you set the loglevel to debug you'll get more details from the authentication checks.

[2022-06-18 01:28] hartmark commented on #410
I wrote a small sample project for minimal APIs and it uses JWT and with ECDSA keys.

You can see how I used it in this class:
https://github.com/hartmark/minimal-api-sample/blob/main/Backend/Infrastructure/DataService/JwtGenerator.cs

[2022-06-18 04:26] drusellers commented on #413
I def had it set full bore. I just wasn't reading it quite right. :) I had a bad mental context.

[2022-06-19 01:36] mdhruv1 opened #418 "RSA256 does not work Says Invalid Algorithm name"
These are the steps I am following. I am trying to make a jwt token using RS256 having a public and private key
Generate a pem file using openssl on mac then copy it

The code below I was able to get to work on hmac but not for RSA256.  I get an error not  a valid algotrithm for RS256.

If you can take a look at this code below and guide to do RS256 that will be awesome.
The exact steps u used for

[2022-06-19 02:05] abatishchev commented on #418
Hi, happy to help. Can you please update your code with the exact way you construct the algorithm object and the cert you pass to its constructor.

[2022-06-19 02:15] mdhruv1 commented on #418
To create the certs I used mac with the following commands
openssl req -new -newkey rsa:512 -nodes -keyout CA_PrivateKey.key -out CA_SigningRequest.csr
choose country US
common name = passconnect
challenge pwd = password

openssl x509 -req -days 2000 -in CA_SigningRequest.csr -signkey CA_PrivateKey.key -out CA_Certificate.crt

openssl pkcs12 -export -out CA_Certificate.pfx -inkey CA_PrivateKey.key

[2022-06-19 02:33] abatishchev commented on #418
Perhaps you didn't mean to close it. Did you?

[2022-06-19 02:38] abatishchev commented on #418
Make sure this code works with our error:

[code]

Also post full exception message and stack trace.

[2022-06-19 02:45] mdhruv1 commented on #418
I did not close it. I will post the stack trace tomorrow

Dhruv

Sent from my iPad

[2022-06-19 13:17] mdhruv1 commented on #418
I did a screen shot an this is the entire code here in  a text file.

The private key exists and so does the public key .
The algorithm in certificate says "sha1RSA"  . I am getting invalid algorithm. Which algorithm should I be using.This works fine in dot net core 3.0. I am trying to use it on .net 4.0 I know it is old but have to use it for an embedded legacy device

----start
using System;
usi

[2022-06-19 14:07] mdhruv1 commented on #418
I wonder what algorithm should I use if I repeat the steps and I get "sha512RSA"  when I look at the certificate.m_signature.Algorithm.Friendlyname= "sha512RSA"

I am getting invalid algorithm when I use RS512
 IJwtAlgorithm algorithm = new RS512Algorithm(certificate);

These are the steps I used to create the certificate

openssl req -x509 -nodes -sha512 -newkey rsa:2048 -keyout 512key.pem -out 5

[2022-06-19 16:05] abatishchev commented on #418
Hi! Sorry, still can't find the full exception stack trace. Please post it here so I could assist you better.

[2022-06-19 16:27] mdhruv1 commented on #418
This is the stack trace.
   at System.Security.Cryptography.CryptographicException.ThrowCryptographicException(Int32 hr)   at System.Security.Cryptography.Utils.SignValue(SafeKeyHandle hKey, Int32 keyNumber, Int32 calgKey, Int32 calgHash, Byte[] hash, Int32 cbHash, ObjectHandleOnStack retSignature)
   at System.Security.Cryptography.Utils.SignValue(SafeKeyHandle hKey, Int32 keyNumber, Int32 calgKe

[2022-06-19 16:30] mdhruv1 commented on #418
This is the stack trace.
   at System.Security.Cryptography.CryptographicException.ThrowCryptographicException(Int32 hr)   at System.Security.Cryptography.Utils.SignValue(SafeKeyHandle hKey, Int32 keyNumber, Int32 calgKey, Int32 calgHash, Byte[] hash, Int32 cbHash, ObjectHandleOnStack retSignature)
   at System.Security.Cryptography.Utils.SignValue(SafeKeyHandle hKey, Int32 keyNumber, Int32 calgKe

[2022-06-19 16:31] mdhruv1 commented on #418
All I am trying to do is to use a RS256 certificate to encode and decode a JWT token. I am using .net 4.0 if you can help me with a work example that will be awesome.

[2022-06-19 16:33] abatishchev commented on #418
I see, so the exception isn't from the library but from the PKI API of .NET. I think it's a mismatch between RSxyz and the certificate you've created and pass.

Please list the exceptions you're getting when using other algorithms.

[2022-06-19 16:37] mdhruv1 commented on #418
This code works when I use HMAC.

How can I specify for RS256  to use "sha1RSA"  as the algorithm. That i not clear to me. That should solve the issue I think

[2022-06-19 16:40] abatishchev commented on #418
HMAC is a symmetric (hashing) algorithm and doesn't use a certificate, hence works.

I meant try RS work a different number, which represents the length of the key. It should match the parameters you pass when create the underlying certificate.

[2022-06-19 16:41] abatishchev commented on #418
Namely RS512.

[2022-06-19 17:02] mdhruv1 commented on #418
So how does that work . Zipped the PFX file . The algortitm in certificate says SHA1RSA so what should i be using

[CA.zip](https://github.com/jwt-dotnet/jwt/files/8935971/CA.zip)

I used the 512 instead of 256 still says invalid algorithm.

[2022-06-19 17:29] abatishchev commented on #418
I'm not familiar with openssl.exe but I see you pass 512 so you should use RS512, I guess. Try to run on .NET 6 and .NET 4.6.2 to make sure it's not a lower framework version issue.

[2022-06-19 17:49] mdhruv1 opened #419 "RSA Example in the documentation does not work"
[code]

The error is  Encode is asking for more parameters . Could we amend the code example . The environment is .net 4.0

[2022-06-19 17:51] mdhruv1 commented on #418
I have opened another issue . The example for RSA256 the
var token = encoder.Encode(payload);
It is missing parameters . If we can edit it and see that will be awesome

[2022-06-19 20:50] abatishchev opened #420 "Library should include both Json.Net and System.Text.Json serialziers"
After the recent changes, it includes one or another.

@hartmark we've made it too opinionated: either one or another. How about somehow allow both options on the platform whether that's possible?

[2022-06-20 00:49] mdhruv1 commented on #419
After alot of trying an example of creating and decoding a JWT token is here. I tested on .net 4.0 and it works

https://gist.github.com/ssippe/8fc11c4d7e766e66f06db0431dba3f0a

The current library not sure what is the issue but does not work on .net 4.0

[2022-06-20 00:56] abatishchev commented on #419
The example uses a different library, Jose Jwt.

I haven't heard of other reports that it doesn't work on .NET 4.0, I'll give it a try once near my computer.

[2022-06-20 01:09] hartmark commented on #420
System.Text.Json is supported for .net fw 4.6.2 up to .net 6

So you mean for those versions there should be an option to use either that or Json.net?

[2022-06-20 01:11] abatishchev commented on #420
Yes, I'm thinking if we should include both serialziers into the assembly and the user would have a choice. Tests must be updated to test everything against both serialziers too, that might be the most tedious change of all

[2022-06-20 01:20] hartmark commented on #420
Alright, the tests can use some kind of parameterized test where the input is which serializer to use so we get everything tested twice.

Question is what should be used per default, one idea could be to use System.Text.Json where it is supported and Json.Net where it's not supported.

[2022-06-20 01:58] abatishchev commented on #420
Yes, I was also thinking about a parameterized tests. However it might not work for those which are already parameterized, and iirc there are already few of them.

Another option might be a base class. But again iirc MSTest doesn't like them and ignore the attributes when they aren't declared at a leaf of the inheritance tree.

I think the new serialzier must the default option but the other optio

[2022-06-20 02:00] abatishchev commented on #410
Thanks, @hartmark. @drusellers please take a look, let me know if it works for you, and that the issue can be closed.

[2022-06-20 02:04] abatishchev commented on #257
Let me close the issue due to lack of feedback or requests from other uses

[2022-06-20 02:04] #257 closed

[2022-06-20 20:27] abatishchev commented on #418
Thanks! I'll fix the documentation.

For the issue itself, I'd suggest to ask on Stack Overflow, there will be more experts in the area with experiencing for .NET 4.0, I don't have it, sorry.

[2022-06-20 20:27] #418 closed

[2022-06-23 03:17] abatishchev commented on #412
Fixed as [9.1.1](https://www.nuget.org/packages/JWT.Extensions.AspNetCore/9.1.1), unlisted 9.1.0. Thanks for bringing this up!

[2022-06-23 03:17] #412 closed

[2022-06-23 07:08] abatishchev opened #425 "Repo needs bug, feature request templates"
Things to include;

Bug:

- Version
- Exception message, stack trace
- Environment (target framework, OS)

Feature request:

- Current version
- Summary of changes
- Available workarounds

Pull request:

- Link to issue
- Summary of changes
- Breaking change notice
- Test added
- Version bumped

[2022-06-29 23:54] hartmark commented on #420
Yeah, having subclasses with MSTest is a pain I have experienced it myself firsthand :)

Perhaps we can migrate to Xunit for the tests so we easier can have subclasses for the tests.

We can use  Microsoft.Extensions.DependencyInjection and just have the DI resolve the injection of the correct serializer the user have choosen.

 Microsoft.Extensions.DependencyInjection  supports .net 4.6.2 the sam

[2022-06-30 01:20] abatishchev commented on #420
Yes :(

Let's don't. I don't think it's worth the effort, plus I've already migrated to it and then from it. Don't want to go through this exercise all over again.

Yes, I like this idea!

[2022-06-30 15:49] abatishchev opened #426 "Deployment pipeline needs to be migrated from VSRM to YAML"

[2022-07-02 16:03] mattabb commented on #410
Looks good @hartmark .   One question, is there somewhere I can find recommended secret sizes based on the length of the key?  I'm a little confused on that and had thought that the PrivateKey/PublicKey would suffice for signing

[2022-07-02 17:02] hartmark commented on #410
ES521 uses P-521 so 521bits or around 66 (rounded up) characters.

I'm not so knowledgeable about the details about if it's weaker if shorter. But I have read that if it is shorter it will pad the secret internally.

[2022-07-02 18:01] hartmark commented on #410
I had an Eureka moment and remember I just used this method to generate the key.

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ecdsa.create?view=net-6.0#system-security-cryptography-ecdsa-create

The security implications of different lengths of the secret is not known for me.

[2022-07-02 19:52] hartmark commented on #407
Where do I find the builds?

[2022-07-02 20:04] abatishchev commented on #407
https://dev.azure.com/abatishchev/OpenSource/_build?definitionId=9&_a=summary

[2022-07-02 20:13] hartmark commented on #407
I see only Windows, for example
https://dev.azure.com/abatishchev/OpenSource/_build/results?buildId=1166&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=c8d7d21c-d114-4864-a7cc-744b61100477

[2022-07-02 20:22] abatishchev commented on #407
I remember a pipeline was using Ubuntu but actually it's the deployment that uses it, not built. Sorry, close too fast.

[2022-07-08 13:14] m1dst opened #427 "Decoding JWT with array of Claim causes exception"
If I have an encoded JWT:

[code]
Which looks like this:

[code]
I can decode it successfully using the following code:

[code]
However, if I try to decode it as part of the ASPNetCore auth pipeline it fails with an exception.

[code]

If I have only a single claim called Role or remove it completely then it works fine.  I saw something in an old issue that seemed similar and I'm wondering if that

[2022-07-08 13:25] m1dst commented on #427
I think it is working if I update to a prerelease nuget.  So you might be able to close this.

[2022-07-08 15:12] abatishchev commented on #427
Hi! Yes, support for a complex object (inside claims) was added only recently. Before it was a dictionary of string, string.

[2022-07-08 15:30] m1dst commented on #427
Whilst it doesn't raise an exception decoding, there is some other issue perhaps with the mapping of claims.

[code]

If I protect with a claim check on email, it works.
If I protect with a claim check on role with Manager, but only supply Manager as the value (not an array) it works.
If I supply multiple Role claims (as above) and then try to check if they have the Manager role with any of the fo

[2022-07-08 15:49] abatishchev commented on #427
It might have to be a comma-separated list. By default, claim value is a string, according to [its constructor](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim.-ctor?view=net-6.0#system-security-claims-claim-ctor(system-string-system-string)). Or might not be supported at all :(

Please let me know what you find out - happy to learn, make any changes if necessary.

Note th

[2022-07-08 17:23] m1dst commented on #427
The screenshot is showing that rather than a List, it is a string with the contents of the type. Shouldn't it be a real List?

All the samples I've seen for Role seem to indicate it can be an array of strings.

[2022-07-08 17:35] abatishchev commented on #427
From quickly googling, I see it's always something like `Roles = "Admin, User"`.

Can you share any docs when it's an array?

[2022-07-11 11:25] m1dst commented on #427
https://www.jerriepelser.com/blog/using-roles-with-the-jwt-middleware/
https://weblog.west-wind.com/posts/2021/Mar/09/Role-based-JWT-Tokens-in-ASPNET-Core
https://andrewhalil.com/2020/09/14/role-retrieval-from-jwt-token-claims-in-net-core-applications/

[2022-07-11 11:34] m1dst commented on #427
I've also tried adding the role using the name "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" too.

EG:

`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJleHAiOjE2NTc1NDA4NzIsImNsYWltMSI6MCwiY2xhaW0yIjoiY2xhaW0yLXZhbHVlIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjpbIk1hbmFnZXIiLCJNYW5hZ2VyMiJdfQ.31Xg-92E3uNYlcbp0weIaBWCCQt7_r4L__mRto4luKzrgcuho0nx9b

[2022-07-11 13:28] abatishchev commented on #427
Try to change `options.PayloadType`, by default it's a dictionary what means each claim name must be unique. What happens if you a list of key-value pairs? Let's say `KeyValuePair<string,string>[]`. But then it can't be an array of roles, each role should be specified separately.

[2022-07-11 13:33] abatishchev commented on #427
Upon rerun, I'll make DefaultIdentityFactory more friendly for inheritance and extension.

[2022-07-11 15:01] m1dst commented on #427
Yeah, I think the problem is the extension.  Having just debugged the extension I find this is the line that maps the array to a string.

https://github.com/jwt-dotnet/jwt/blob/0704bca0fa6cbb8951914e04c8824f13dc104039/src/JWT.Extensions.AspNetCore/Factories/DefaultIdentityFactory.cs#L38

There is so much conflicting information online vs APIs it is difficult to know how to proceed.  I shall keep r

[2022-07-11 15:03] abatishchev commented on #427
Using the DI container, register another version of the interface's implementation where you'll decode the payload and read the claims manually.

[2022-07-11 15:14] abatishchev commented on #427
@m1dst please see if #428 would help to achieve what you need.

[2022-07-14 00:40] abatishchev commented on #427
@m1dst ping. I can publish the extension package if the proposed change would help you.

[2022-07-14 10:40] m1dst commented on #427
Thanks for your speedy response.

I've been looking and thinking about this but haven't yet come to a conclusion.  It seems there is a clear difference between the JWT spec and the way it has been implemented in Net Core.  Or perhaps in the way we are understanding it.

There is ClaimValueType to consider.   https://stackoverflow.com/questions/44677784/custom-claim-with-boolean-type
https://github

[2022-07-22 04:47] li-zheng-hao opened #430 "how can i create RS256Algorithm instance?"
i create my private key and public key by PuTTY Key Generator tool, the test private key and public key are as follows:
[code]

and how can i use this string to create `RS256Algorithm` instance?
[code]

[2022-07-22 04:50] abatishchev commented on #430
Hi, you here to figure out (e.g. search on Stack Overflow) how to create an `X509Certificate2` object from the given base64 string. And then pass it to the ctor .

[2022-07-22 06:01] li-zheng-hao commented on #430
thx @abatishchev , i solve it by this way:
[code]
it works well

[2022-07-22 06:01] #430 closed

[2022-07-27 09:50] tony020409 opened #431 "RS256Algorithm Issue - Why use the private key to decrypt?"
### Why use the private key to decrypt
**I will not be able to decrypt properly with the public key**
**When I decrypt with the public key it doesn't decrypt properly**
**But is normal using public key**

### Encoding_Token
[code]
### Decoding_Token
[code]

[2022-07-28 02:39] abatishchev commented on #431
What's the error you're getting, if any?

You can decrypt using only a public key, to verify the signature. However you need a private key to encrypt (generate the signature).

The single-parameter ctor accepts a public key for the former scenarios. See:

https://github.com/jwt-dotnet/jwt/blob/0704bca0fa6cbb8951914e04c8824f13dc104039/src/JWT/Algorithms/RSAlgorithm.cs#L33-L37

and

https://github.c

[2022-08-07 06:01] MohmdAzhar commented on #148
Even i'm Facing the same issue

[2022-08-07 17:11] abatishchev commented on #148
@MohmdAzhar hi! Happy to investigate the issue you're facing together.

Please open a new issue. Provide the version you're using (and make sure it's the latest), weather it's stable or preview (try 10.0.0-preview latest), error message and full exception stack trace.

[2022-08-19 04:38] #431 closed

[2022-08-19 04:39] abatishchev commented on #427
Hi, let me close the issue for now. Feel free to reopen or open a new one.

[2022-08-19 04:39] #427 closed

[2022-08-19 04:40] abatishchev commented on #420
Ping on this idea.

[2022-08-19 05:16] hartmark commented on #420
I got back from vacation this week so I'll take a look in a few days.

What made you abandon xunit btw?

[2022-08-19 06:16] abatishchev commented on #420
tbh, I don't remember what was the exact trigger.

I always liked MSTest but back then it didn't support dynamic test data, xUnit did so I've switched. But then MSTest added the support and I've switched back. Plus a better VS and ADO integration and native support, if you will.

Also I work for Microsoft so don't mind using Microsoft own tools whenever possible :)

[2022-08-30 16:30] songkeith commented on #353
`
builder.Services.AddSingleton<IAlgorithmFactory>(new DelegateAlgorithmFactory(new HMACSHA256Algorithm()));

builder.Services.AddAuthentication(options =>
{
    options.DefaultAuthenticateScheme = JwtAuthenticationDefaults.AuthenticationScheme;
    options.DefaultChallengeScheme = JwtAuthenticationDefaults.AuthenticationScheme;
})
        .AddJwt(options =>
        {
            // secrets

[2022-08-30 17:29] abatishchev commented on #353
@songkeith thanks for contributing a working sample. Feel free to open an issue if facing any troubles. Or contribute to the docs!

[2022-09-06 13:17] spricesoft-samuel opened #434 "Decode symetric key without secret throws unhelpful error since v9.0.0"
The exception is 'Specified argument was out of the range of valid values. Arg_ParamName_Name'

I tracked it down to the ValidSymmetricAlgorithm method which is expecting a non-null value for the keys argument.

[2022-09-06 15:35] abatishchev commented on #434
Hi! Thanks for reporting this issue. Can you please try the latest beta version? Let me know if the exception message doesn't improve.

[2022-09-08 17:17] #420 closed

[2022-09-21 18:13] MaxLevs opened #436 "JwtBuilder throws ArgumentNullException when Encode called and IAlgorithmFactory is set"
### Bug description

I've tried to use JwtBuilder with ECDsa keys.
For this purpose I've registered IAlgorithmFactory as singletone with this:
[code]

In my AuthService I've got IAlgorithmFactory via DI and called the method which creates tokens
[code]

**Expected behaviour**: the method returns instance of `SessionResult` with tokens.
**Actual behaviour**: `ArgumentNullException` is throws after

[2022-09-21 18:21] abatishchev commented on #436
Hi! Thanks for reporting this issue. Can you please try the latest beta version? Let me know if it still behaves this way.

[2022-09-21 18:24] MaxLevs commented on #410
Nice example @hartmark . But where can I get secret for ECDsa? I've created it with `openssl` and don't have any secret.

[2022-09-21 18:24] abatishchev commented on #436
Or I might know what's the issue, it in the poor design: an instance suitable for encoding is not suitable for decoding. And that's exactly the issue you've hit: in order to decode, it reads the algorithm from the context. But in order to encode, user needs to specify the algorithm explicitly.

[2022-09-21 18:25] abatishchev commented on #436
In other words, what's `_algorithmFactory` which you passed at `WithAlgorithmFactory(_algorithmFactory)`?

[2022-09-21 18:27] MaxLevs commented on #436
The first block of code in this issue. I've created instance of ECDSAAlgorithmFactory in DI.

[2022-09-21 18:43] MaxLevs commented on #436
The latest beta (10.0.0-beta4) doesn't solve the problem

[2022-09-21 18:56] abatishchev commented on #436
First, as a workaround, what you can do is to register a [DelegateAlgorithmFactory](https://github.com/jwt-dotnet/jwt/blob/main/src/JWT/Algorithms/DelegateAlgorithmFactory.cs) instead:

[code]
I'm looking for a better option.

[2022-09-21 19:31] abatishchev commented on #436
@MaxLevs to make the code little nicer, I've made a change in #437. Do you mind consuming the packages produced from [its build](https://dev.azure.com/abatishchev/OpenSource/_build/results?buildId=1235&view=artifacts&pathAsName=false&type=publishedArtifacts) to see if works for you?

[2022-09-21 20:00] MaxLevs commented on #436
Can you somehow increment version? I can't install this local version of package instead of one in nuget.org.
Or updated version is in nuget.org already and I can just clear cache and restore?

[2022-09-21 20:01] MaxLevs commented on #436
`ECDSAAlgorithm` constructor is `protected`

[2022-09-21 20:14] MaxLevs commented on #436
Okay. I've created local folder source and put this *.nupkg files into it. Then cleared cache and try to run code.
Behaviour is not changed. But I'm not sure that nuget restored package from local source.

[2022-09-21 20:40] abatishchev commented on #436
Yes, I've bumped the version to `10.0.0-beta9`. If you drop the package to a "local feed" (folder), it'll be picked up.

The change should improve the composition of the factories but you still need a DelegateAlgorithmFactory:

[code]

[2022-09-21 21:33] MaxLevs commented on #436
And now I can get last changes from repo directly.

But yeah, local source folder did work but `git pull` is easiest way.

[2022-09-21 22:19] abatishchev commented on #436
I'm looking further into the problem.

To overcome the issue of a protected ctor, construct of these types:

- ES256Algorithm
- ES384Algorithm
- ES512Algorithm

[2022-09-21 22:20] MaxLevs commented on #413
Whether it is planned to be added to the target platforms .net 6 for JWT
Extensions.AspNetCore and JWT
Extensions.DependencyInjection?

[2022-09-21 22:44] abatishchev commented on #413
JWT already includes net6, the extensions target netstandard2.0 which also works with net6. Is there a particular reason to specify net6 explicitly?
I can do that (or accept a pull request), but first would like to understand the rationale behind the proposed change.

[2022-09-22 06:56] MaxLevs commented on #436
I've created factory with this code

[code]

And it still doesn't work.

[2022-09-22 07:01] MaxLevs commented on #436
It's strange but when I've created new console project and include only `Jwt.Net` this code've worked.

[code]

And if I add reference to `Asp.Net Core` app, then it throws `TargetParameterCountException` like above.

[2022-09-22 14:48] abatishchev commented on #436
What's the message and stack trace for `TargetParameterCountException`? Sounds like a different issue. Shall we close this one and start another?

[2022-09-22 17:54] MaxLevs commented on #436
Yes. It's another one. I think we should start another issue with this.

### Stacktrace

[code]

[2022-09-22 18:03] abatishchev opened #438 "TargetParameterCountException thrown by DictionaryStringObjectJsonConverter.CustomWrite()"
### Stacktrace

[code]

_Originally posted by @MaxLevs in https://github.com/jwt-dotnet/jwt/issues/436#issuecomment-1255363578_

[2022-09-22 18:03] #436 closed

[2022-09-22 18:09] abatishchev commented on #438
**Workaround**: switch from System.Text serializer to Json.Net.

Meanwhile I'm looking into the issue.

[2022-09-22 18:11] abatishchev commented on #438
@hartmark can you please help on this? Here's the lines throwing the exception:

https://github.com/jwt-dotnet/jwt/blob/e59150f9e203182f9957d1697b11ff09384166df/src/JWT/Serializers/Converters/DictionaryStringObjectJsonConverter.cs#L119-L121

[2022-09-22 21:52] hartmark commented on #438
It seem to work perfectly in main-branch, see the linked PR for the test I checked in.

@MaxLevs; are you sure you tried installing the pre-release version of the jwt nuget?
https://learn.microsoft.com/en-us/nuget/create-packages/prerelease-packages#installing-and-updating-pre-release-packages

[2022-09-22 21:52] hartmark commented on #436
@MaxLevs see the continued discussion in #438

[2022-09-22 21:58] hartmark commented on #438
Just poke me if I have misunderstood the issue :)

[2022-09-22 22:01] MaxLevs commented on #438
Yep. I installed latest pre-release version firstly. And then replaced it with the latest commit, including the sources in the solution.

[2022-09-22 22:04] MaxLevs commented on #438
@hartmark I figured the reason out. Try to add IEnumerable as claim value.

[2022-09-22 22:08] hartmark commented on #438
Cool, now I have a better time to figure out where I went wrong in the implementation :)

[2022-09-22 22:10] abatishchev commented on #438
Could you (one or another or both) please contribute a test that exposes the issue? And then maybe a fix :)

[2022-09-22 22:12] abatishchev commented on #438
Never mind, missed you already opened #439. Thanks!

[2022-09-22 22:35] hartmark commented on #438
It seems that the code example I stole didn't cover IEnumerables, I have added handling for that so now the test passes with a claim that is an IEnumerable.

@MaxLevs Can you please check if this fixes your issue?

[2022-09-22 22:53] MaxLevs commented on #438
Yes. It works for me.

[2022-09-22 22:58] MaxLevs commented on #436
Okay. I can create algorithm instance by myself to mock `IAlgorithmFactory` and it works. Its pretty nice workaround.
But what's with original `ECDSAAlgorithmFactory`? Any plans to fix the bug?

@abatishchev @hartmark

[2022-09-23 10:25] luigisirito opened #440 "Using a 32-bit key as certificate"
Is there any way to use a 32-bit key generated by http://jwtbuilder.jamiekurtz.com/ or other online generator?
i.e.    ` uqQMAr17zI1VTrRXn35J6dcxzhx1KemM`
Should we save it as RSA Key or other type?

Thank you

[2022-09-23 17:22] abatishchev commented on #440
hi!
The length of they private key which is 256, 385, 512 bits, etc.
32 on that UI seems to correspond to the length of the secret in characters, not bits :)

Here's what you'd need to use:

https://github.com/jwt-dotnet/jwt/blob/e59150f9e203182f9957d1697b11ff09384166df/src/JWT/Algorithms/HMACSHAAlgorithmFactory.cs#L7

But but but. I strongly discourage from using HM aka HMAC SHA. Those are rather

[2022-09-26 20:54] #438 closed

[2022-10-06 15:50] jennifer-notifi opened #443 "How do you recommend creating a RS256Algorithm certificate?"
I am using the Fluent Builder API to decode and verify a token and would need to pass in a certificate into the RS256Algorithm to do so. Do you have any recommendations on how to the create/obtain this certificate?

[code]

[2022-10-06 20:15] abatishchev commented on #443
Hi! Thanks for using the library and for posting a question.
"It depends" :) Depends on a few factors:

- What's the kind of your application, is it a web service?
- What's the hosting platform: an on-prem server or in the cloud or something else?
- What's the OS: Windows, Linux, etc.

Let me know and I'll try to guide you through. Keep in mind that I'm a cloud engineer at Azure so it'll be my sub

[2022-10-06 20:34] jennifer-notifi commented on #443
Hey Alex! Thank you for the response!

It is a web service hosted on AWS, OS is Linux.

I was able to create these public and private keys using these commands: http://lunar.lyris.com/help/Content/generating_public_and_private_keys.html

I have stored them in my file but am now figuring out how to convert them into RSA Keys.

[2022-10-06 20:52] jennifer-notifi commented on #443
I used the commands in to generate something like this:

(please note that the private key and public keys are actually much longer)

[code]

I am getting an error that I `cannot convert from 'string' to 'System.Security.Cryptography.RSA'`. I'll also ask on StackOverflow but if you know of an easy solution, please let me know!

[2022-10-07 05:12] abatishchev commented on #443
See if this helps:

https://github.com/jwt-dotnet/jwt/blob/96e61e12cdd0921792325e23d82f175551854d63/tests/JWT.Tests.Common/Models/TestData.cs#L71-L84

The code requires .NET 6 but because of that should work on Linux. Let me know if it works, also free to share a link to your question in SO. At least I'll upvote it :)

[2022-10-07 15:24] jennifer-notifi commented on #443
Thank you so much, I will be able to check later today!

[2022-10-10 19:32] jennifer-notifi commented on #443
Thank you, this works very well! I would suggest that you add this as a code snippet or add other links related to creating certificates in the documentation. I think it is a missing piece in the documentation at the moment.

[2022-10-11 15:32] abatishchev commented on #443
Do you mind to contribute to the project and start a PR to the doc? I'd be happy to take it further, polish if necessary and complete.

[2022-10-11 15:32] #443 closed

[2022-10-16 04:15] #440 closed

[2022-10-16 04:15] #434 closed

[2022-10-16 04:15] #419 closed

[2022-10-16 04:15] #410 closed

[2022-10-16 04:17] abatishchev commented on #413
@MaxLevs ping.

[2022-10-20 04:36] Monica093A opened #444 "There is no way to destroy jwt token"

[2022-10-20 04:45] abatishchev commented on #444
Can you please elaborate? A jwt is just a string.

[2022-10-20 05:07] Monica093A commented on #444
Dear Jwt-Dotnet/Jwt,
Thanks for your email
i need to deactivate jwt token on logout, there is no methods/ functions
available to destroy/ deactivate generated jwt token before expiration time

On Thu, Oct 20, 2022 at 10:15 AM Alexander Batishchev <
***@***.***> wrote:

[2022-10-20 05:55] abatishchev commented on #444
The standard doesn't have such functionality. And it's a known issue: once the token is issued - there is no way to control or retract or revoke it.

Perhaps what you can do is to set short expiration date and store the token in local or distributed cache until it expires, check against it whenever needed.

[2022-10-26 10:42] ETCDema opened #445 "Invalid parameter exception when use RS512Algorithm"
[code]
[code]

[2022-10-26 18:55] BabyWhite69 opened #446 "JWT works with unity? and how could I implement it?"
Hello everyone, I would like to know if Jwt works with unity, specifically I ask this question because I tried to implement it in unity to create a jwt with a private key using openssl from a server in Unity and send it to an api with node.js to do the verification of the jwt with the public key, but I encountered some problems, the main problem was with Newtonsoft.Json and System.Text.Json, unity

[2022-10-26 23:09] BabyWhite69 commented on #446
Hello @abatishchev thank you very much for answering my question.
I am using the version released in Nuget 9.0.3 and Unity version 2021 LTS.
I will try again with the beta version and report as soon as possible the results, greetings!

[2022-10-26 23:43] BabyWhite69 commented on #446
I made a new project in Unity using version `2021.3.11f1 LTS`, I downloaded the latest beta version from nuget and extracted the `JWT.dll` file from `lib/netstandard2.0` and introduced it to unity, when I did that I got this error (note that I tried with the last 3 beta versions and with all the dll inside the `/lib` folder just in case).

![image](https://user-images.githubusercontent.com/8064450

[2022-10-27 02:47] abatishchev commented on #446
To be honest, I'm not very familiar with Unity. Even less with Unity Editor and how it handles NuGet packages. Back in the day, .NET 3.5 (see https://github.com/jwt-dotnet/jwt/pull/270) was re-added for Unity specifically, since I haven't heard of any problems (or anything at all) from Unity users.

What's the target framework of your project? I see one of the errors says System.Text.Json is unsup

[2022-10-27 02:54] abatishchev commented on #445
Hi! Thanks for using the library and for asking about it too.

Before looking further into the issue, what's the version you're using and have you tried the latest beta?

I don't believe it's the library specific though as what it does for asymmetric algorithms is pretty straight-forward and pass-thru:

https://github.com/jwt-dotnet/jwt/blob/96e61e12cdd0921792325e23d82f175551854d63/src/JWT/Algorit

[2022-10-27 08:05] ETCDema commented on #445
I use 9.0.3 version on NET6. There are limitations in the combination of key lengths and hashing algorithms, a small example:
[code]
Result:
[code]
It might make sense to add a KeySize check in the appropriate RS*Algorithm classes.

[2022-10-27 18:53] abatishchev commented on #445
Awesome, thanks for adding a test for this!
Can you please adjust it in a way that would test all possible variants? e.g. KeySize 384 with HashAlg 384.
btw what puzzles me the most is this: `KeySize: 512, HashAlg: SHA512 - FAIL`. idk why that would be.

[2022-10-27 18:56] abatishchev commented on #445
Looks like there is already a helper (`SkipSize`) to achieve that nicely:

[code]

[2022-10-27 21:06] ETCDema commented on #445
There is a relationship between the key size and hash bits, not all combinations can be used due to the peculiarities of the algorithms.

Unfortunately, I can’t say more precisely, I didn’t save the link, but now I can’t find it.

Result with keyInterval.SkipSize:
[code]
...and then everything is ok

[2022-10-28 00:05] BabyWhite69 commented on #446
Well, I found [this guide in the Unity forum](https://forum.unity.com/threads/systen-text-json-net-standard-2-0.1224903/#post-7811574), simply download and add the dll's listed in the link below to solve those errors, now I have another problem, I try to use `Fluent Builder API` to create a token and send it to an api with nodejs which will validate the token with the public key of a certificate w

[2022-10-28 01:01] abatishchev commented on #446
@BabyWhite69 can you please post the second half of your latest comment as a separate issue? Or you got it working?

[2022-10-28 21:43] BabyWhite69 commented on #446
✅**Solution**

If you want to implement JWT to Unity and you get the same error posted mainly in this question, here is the solution:

This solution was taken from a Unity forum, if you want to see the whole discussion [click here.](https://forum.unity.com/threads/systen-text-json-net-standard-2-0.1224903/)

[2022-10-28 21:43] #446 closed

[2022-10-28 21:45] abatishchev commented on #446
Awesome, thanks a lot! I'll use your posting as a reference next time someone asks about Unity.

Since you've got it working, please don't hesitate to ask more questions about the library itself.

[2022-10-28 22:05] BabyWhite69 opened #447 "How to create a certificate from a private key"
**Overview of what I am trying to do:**

I have a c# server that is trying to communicate with an API written with Node.js through a token with RSA SHA256.

In order for the API to receive the token to me, the c# server has to create a token with the private key using the RS256 algorithm.

Now the API will validate the token with the public key and give it access to the CRUD.

**Key creation:**

C

[2022-10-28 22:45] abatishchev commented on #447
Please post the exception full stack trace. Also note that the code above only works on .NET Core (3.1 and higher, if I remember correctly).

[2022-10-29 00:02] BabyWhite69 commented on #447
I'm using Unity `2021.3.11f1` which uses `.netstandard 2.1`

`CryptographicException: Unable to decode certificate.
System.Security.Cryptography.X509Certificates.X509Certificate2ImplMono..ctor (System.Byte[] rawData, Microsoft.Win32.SafeHandles.SafePasswordHandle password, System.Security.Cryptography.X509Certificates.X509KeyStorageFlags keyStorageFlags) (at <a971fed4bf844502b6501dbde9cced46>:0)
M

[2022-10-29 00:30] abatishchev commented on #447
.NET Standard is a compatibility API layer. What matters is the actual runtime by the app itself. Looks like it's Mono in your case. And that might explain why it fails, because the underlying crypto API doesn't support the operation.

[2022-10-29 00:35] BabyWhite69 commented on #447
Oh, I still don't understand much about apis and framework. and yes, unity uses `mono` or `IL2CPP`, will it work with IL2CPP?

[2022-10-29 01:55] abatishchev commented on #447
I frankly don't know what's that (beyond a basic Google search) so can't say. But it might not as it depends on the crypto API availability on certain platform.

I'd suggest googling how to construct an X509Certificate2 object specifically on Unity.

[2022-10-29 03:02] BabyWhite69 commented on #447
I was [reading this post](https://stackoverflow.com/questions/34503063/unable-to-decode-certificate-at-client-new-x509certificate2) and maybe this is the solution, I just need to know how you created the key pair and what format they are in, specifically the command to test it the same way, because if I create the key pair with the format I described it gives me another error, however in this one

[2022-11-19 16:01] drew-fc opened #448 "HMACSHA256Algorithm is obsolete, but no examples of how to use a different algorithm?"
hi,

First I want to say thank you for providing this really fluent and simple JWT API.
I am struggling to get something very basic working and hoping to get some support.
I am using Azure Functions V4 in Isolated process, which I believe uses .NET Core 7, as my server which uses JwtDotNet.

I am using the JWT token for a mobile app, and embedding the Username and some other info into the token fr

[2022-11-19 19:27] #447 closed

[2022-11-19 19:27] #445 closed

[2022-11-19 19:27] #444 closed

[2022-11-20 16:07] drew-fc commented on #443
@jennifer-notifi , could you please share the final code that you got working? I am trying to mimic your solution with the code shown here, but it's failing. My code looks like this:

`        private static string privKey = @"-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgQCJmzi6aDZ/5ytTJQ5i3ahA5DkW4XxPBCgR9mtnP656Vs6wEvet
75jxhE9n9MTCH+cFWYdKytnIB4XLWBCWmVTW6kxTjpavqQP0nITH45apHMjKCf/w
nStq+J5WizW

[2022-11-23 03:24] glenvollmer commented on #293
@abatishchev   https://www.rfc-editor.org/rfc/rfc7519#appendix-A.1

[2022-11-23 03:25] glenvollmer commented on #293
@githubcatw https://www.rfc-editor.org/rfc/rfc7519#appendix-A.1

[2022-11-23 20:01] drew-fc commented on #448
Got it working, big thanks to @abatishchev .

Here's the snippet if you need to get this working with RSA. Obviously this key pair is not real, and you should never save a keypair directly into your code. This is helpful for the example though since there's so many possible formats of RSA keys.

 public static string IssueJwtWithKeysOnly(Dictionary<string,object> claims)
        {
        //

[2022-11-23 20:02] #448 closed